{% extends 'base/kernel-ci-base.jinja2' %}
{% if arch == "arm" %}
{% set console_dev = console_dev|default('ttyAMA0') %}
{% set qemu_binary = 'qemu-system-arm' %}
{% endif %}
{% if arch == "arm64" %}
{% set console_dev = console_dev|default('ttyAMA0') %}
{% set qemu_binary = 'qemu-system-aarch64' %}
{% endif %}
{% if arch == 'riscv' %}
{% set console_dev = console_dev|default('ttyS0') %}
{% set qemu_binary = 'qemu-system-riscv64' %}
{% endif %}
{% if arch == 'x86_64' %}
{% set console_dev = console_dev|default('ttyS0') %}
{% set qemu_binary = 'qemu-system-x86_64' %}
{% endif %}
{% if arch == 'i386' %}
{% set console_dev = console_dev|default('ttyS0') %}
{% set qemu_binary = 'qemu-system-i386' %}
{% endif %}
{% if arch == 'mips' %}
{% set console_dev = console_dev|default('ttyS0') %}
{% set qemu_binary = 'qemu-system-mipsel' %}
{% endif %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{{ super() }}
{% endblock %}
{% block actions %}

actions:
- deploy:
    timeout:
      minutes: 3
    to: tmpfs
    os: oe
    images:
{%- if bios_url %}
      bios:
        image_arg: '-bios {bios}'
        url: {{ bios_url }}
{%- endif %}
      kernel:
{%- block image_arg %}
        image_arg: '-kernel {kernel} -append "console={{ console_dev }},115200 root=/dev/ram0 debug verbose {{ extra_kernel_args }}"'
{%- endblock %}
        url: {{ kernel_url }}
      ramdisk:
        image_arg: '-initrd {ramdisk}'
        url: {{ initrd_url }}
{%- if dtb_url %}
      dtb:
        image_arg: '-dtb {dtb}'
        url: {{ dtb_url }}
{% endif %}

- boot:
    timeout:
      minutes: 5
    method: qemu
    media: tmpfs
    docker:
      image: kernelci/qemu
      binary: {{ qemu_binary }}
    prompts:
      - '{{ rootfs_prompt }}'
{% endblock %}
