{% extends 'base/kernel-ci-base-tftp-deploy.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{%- if extra_kernel_args %}
{% do context.update({"extra_kernel_args": extra_kernel_args}) %}
{% endif %}
{{ super() }}
{% endblock %}
{% block actions %}
{%- block deploy %}
{{ super () }}
{%- endblock %}

- boot:
    timeout:
      minutes: 5
    method: u-boot
    commands: ramdisk
    prompts:
      - '{{ rootfs_prompt }}'
{% endblock %}
