- test:
    timeout:
      minutes: {{ job_timeout }}
    definitions:
    - from: inline
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: timesync-off
          description: Disable systemd time sync services
        run:
          steps:
          - systemctl stop systemd-timesyncd || true
      name: timesync-off
      path: inline/timesync-off.yaml

    - repository: https://github.com/kernelci/test-definitions.git
      from: git
      revision: kernelci.org
      path: automated/linux/kselftest/kselftest.yaml
      name: {{ plan }}
      parameters:
        TESTPROG_URL: {{ kselftests_url }}
        SKIPFILE: skipfile-lkft.yaml
        TST_CMDFILES: {{ kselftest_collections }}
        TST_CASENAME: {{ kselftest_tests }}
        BOARD: {{ device_type }}
        BRANCH: {{ tree }}
        SKIP_INSTALL: True
