- test:
    timeout:
      minutes: 5
    definitions:
    - repository: https://github.com/kernelci/kernelci-core
      branch: staging.kernelci.org
      from: git
      history: False
      path: config/lava/sleep/sleep.yaml
      name: sleep
      parameters:
        sleep_params: "{{ sleep_params }}"
