{% if v4l2_driver %}
    {% set v4l2_driver_arg = "-d " + v4l2_driver %}
{% endif %}
- test:
    timeout:
      minutes: 10
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: {{ plan }}
          description: "v4l2 test plan"
          os:
          - debian
          scope:
          - functional
        run:
          steps:
          - /usr/bin/v4l2-parser.sh {{ v4l2_driver_arg }}
      from: inline
      name: {{ plan }}
      path: inline/{{ plan }}.yaml
