{# -*- mode: YAML -*- -#}
{# SPDX-License-Identifier: LGPL-2.1-or-later -#}

apiVersion: batch/v1
kind: Job
metadata:
  name: {{ k8s_job_name }}

spec:
  completions: 1
  # During development we keep logs a bit longer
  # TODO: Reduce on production
  ttlSecondsAfterFinished: 120
  template:
    spec:
      backoffLimit: 1
      restartPolicy: Never
      terminationGracePeriodSeconds: 10

      volumes:
      - name: dev-shm
        emptyDir: { medium: "Memory" }

      - name: compile-volume
        emptyDir: { }

      tolerations:
      - key: "kubernetes.azure.com/scalesetpriority"
        operator: "Equal"
        value: "spot"
        effect: "NoSchedule"

      containers:
      - name: kernelci
        image: {{ runtime_image }}
        imagePullPolicy: Always

        volumeMounts:
        - mountPath: "/tmp/kci"
          name: compile-volume
        - mountPath: "/dev/shm"
          name: dev-shm

        # FIXME: Request safe defaults to not overload node with
        # parallel pods
        resources:
          limits:
            cpu: "8"
          requests:
            cpu: "7.1"
            memory: "8"

        env:
        - name: KCI_API_TOKEN
          valueFrom:
            secretKeyRef:
              # FIXME: convert to template parameter
              name: {{ "kci-api-jwt-staging" }}
              key: token

        - name: KCI_STORAGE_CREDENTIALS
          # FIXME: convert to template parameter
          #value: {{ "/home/kernelci/.ssh/id_rsa_tarball-staging" }}
          valueFrom:
            secretKeyRef:
              name: {{ "kci-api-azure-files-sas-staging" }}
              key: azure-files-sas
{% block k8s_command %}
        command: ["/bin/sh", "-c"]
{% endblock %}
        args:
          - |
{%- filter indent(width=12) -%}
{% block commands %}{% endblock %}
{%- endfilter %}
