{# -*- mode: YAML -*- -#}
{# SPDX-License-Identifier: LGPL-2.1-or-later -#}

apiVersion: batch/v1
kind: Job
metadata:
  name: {{ k8s_job_name }}

spec:
  completions: 1
  ttlSecondsAfterFinished: 30
  template:
    spec:
      backoffLimit: 1
      restartPolicy: Never
      terminationGracePeriodSeconds: 10

      volumes:
      - name: scratch-volume
        emptyDir: { medium: "Memory" }

      - name: dev-shm
        emptyDir: { medium: "Memory" }

      # FIXME: add template conditional based on storage type
      - name: ssh-key
        secret:
          # FIXME: convert to template parameter
          secretName: {{ "kci-storage-ssh-staging" }}

      tolerations:
      - key: "kubernetes.azure.com/scalesetpriority"
        operator: "Equal"
        value: "spot"
        effect: "NoSchedule"

      initContainers:
      - name: kernelci-setup
        image: debian:bullseye-slim

        volumeMounts:
        - mountPath: "/scratch"
          name: scratch-volume

        command: ["/bin/bash", "-x", "-c"]
        args: ["mkdir -p /tmp/kci"]

      containers:
      - name: kernelci
        image: {{ runtime_image }}
        imagePullPolicy: Always

        volumeMounts:
        - mountPath: "/scratch"
          name: scratch-volume

        volumeMounts:
        - mountPath: "/dev/shm"
          name: dev-shm

        # FIXME: add template conditional based on storage type
        volumeMounts:
        - mountPath: "/home/kernelci/.ssh"
          name: ssh-key
          readOnly: true

        env:
        - name: KCI_API_TOKEN
          valueFrom:
            secretKeyRef:
              # FIXME: convert to template parameter
              name: {{ "kci-api-jwt-staging" }}
              key: token

        - name: KCI_STORAGE_CREDENTIALS
          # FIXME: convert to template parameter
          value: {{ "/home/kernelci/.ssh/id_rsa_tarball-staging" }}
{% block k8s_command %}
        command: ["/bin/sh", "-c"]
{% endblock %}
        args:
          - |
{%- filter indent(width=12) -%}
{% block commands %}{% endblock %}
{%- endfilter %}
