{# -*- mode: yaml -*- -#}

# KernelCI API & Pipeline experiments
#
# This is a work-in-progress template to add LAVA support with the new KernelCI
# API & Pipeline.
#
# Things left to add:
# * instance name (staging, AKS...)
# * priority
# * timeout
# * modules
# * kernel image name
# * UEFI binaries for QEMU etc.
# * rootfs URL
# * Docker image for QEMU

job_name: "[{{ instanceid|default('KernelCI AKS')}}] {{ node.id }} {{ node.name }} {{ node.data.kernel_revision.describe }}"

device_type: {{ device_type }}

visibility: public

priority: {{ priority | default('10') }}

{% if platform_config.context or extra_kernel_args %}
context:
  {% if platform_config.context %}
    {% for key, value in platform_config.context.items() %}
  {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
  {% if extra_kernel_args %}
  extra_kernel_args: {{ extra_kernel_args }}
  {% endif %}
{% endif %}

{%- if "coverage" in node.data.config_full -%}
{%-   set coverage_timeout = 20 -%}
{%- else -%}
{%-   set coverage_timeout = 0 -%}
{%- endif -%}
{%- if job_timeout and (job_timeout > 15) -%}
{%-   set test_timeout = job_timeout + coverage_timeout -%}
{%- else -%}
{%-   set test_timeout = 15 + coverage_timeout -%}
{%- endif -%}
{%- set full_timeout = 15 + test_timeout -%}

timeouts:
  action:
    minutes: 10
  actions:
    power-off:
      seconds: 30
  job:
    minutes: {{ full_timeout }}
  queue:
    days: 2

{% if notify %}
notify:
  callback:
    content-type: {{ notify.callback['content-type']|default('json') }}
    dataset: {{ notify.callback.dataset|default('all') }}
    method: {{ notify.callback.method|default('POST') }}
    {%- if notify.callback.token %}
    token: {{ notify.callback.token }}
    {%- endif %}
    url: {{ instance_callback }}/node/{{ node.id }}
  criteria:
    status: finished
{% endif %}

metadata:
  node_id: {{ node.id }}
  # The full YAML configuration can't yet be added as-is, only strings and
  # integers are accepted by the schema.  See this issue for more details:
  # https://git.lavasoftware.org/lava/lava/-/issues/610
  api_config_name: {{ api_config.name }}
  storage_config_name: {{ storage_config.name }}

actions:
{% set boot_template = 'boot/' + platform_config.boot_method + '.jinja2' %}
{% include boot_template %}

{% set test_template = 'tests/' + test_method + '.jinja2' %}
{% extends test_template %}
