# See the KernelCI wiki page regarding the format of this file:
# https://github.com/kernelci/kernelci-doc/wiki/Build-configurations


trees:

  agross:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/agross/linux.git"

  alex:
    url: "https://git.linaro.org/people/alex.bennee/linux.git"

  amlogic:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/khilman/linux-amlogic.git"

  android:
    url: "https://android.googlesource.com/kernel/common"

  ardb:
    url: "git://git.kernel.org/pub/scm/linux/kernel/git/ardb/linux.git"

  arm-soc:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/arm/arm-soc.git"

  arnd:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/arnd/playground.git"

  broonie-regmap:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/broonie/regmap.git"

  broonie-regulator:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/broonie/regulator.git"

  broonie-sound:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git"

  broonie-spi:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/broonie/spi.git"

  chrome-platform:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/chrome-platform/linux.git"

  clk:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/clk/linux.git"

  efi:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/efi/efi.git"

  evalenti:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/evalenti/linux-soc-thermal.git"

  gtucker:
    url: 'https://gitlab.collabora.com/gtucker/linux.git'

  khilman:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/khilman/linux.git"

  krzysztof:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/krzk/linux.git"

  linaro-android:
    url: "https://android-git.linaro.org/git/kernel/linaro-android.git"

  linusw:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/linusw/linux-gpio.git/"

  lsk:
    url: "https://git.linaro.org/kernel/linux-linaro-stable.git"

  mainline:
    url: 'git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git'

  media:
    url: "https://git.linuxtv.org/media_tree.git"

  net-next:
    url: "git://git.kernel.org/pub/scm/linux/kernel/git/davem/net-next.git"

  next:
    url: 'git://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git'

  omap:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/tmlind/linux-omap.git"

  pmwg:
    url: "https://git.linaro.org/power/linux.git"

  qcom-lt:
    url: "https://git.linaro.org/landing-teams/working/qualcomm/kernel.git"

  renesas:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/horms/renesas.git"

  rmk:
    url: "git://git.armlinux.org.uk/~rmk/linux-arm.git"

  rt-stable:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/rt/linux-stable-rt.git"

  samsung:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/kgene/linux-samsung.git"

  stable:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git"

  stable-rc:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git"

  tegra:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/tegra/linux.git"

  ulfh:
    url: "https://git.kernel.org/pub/scm/linux/kernel/git/ulfh/mmc.git"


fragments:

  debug:
    path: "kernel/configs/debug.config"

  kselftest:
    path: "kernel/configs/kselftest.config"

  linaro_android_base:
    path: "android/configs/android-base.cfg"

  linaro_android_recommended:
    path: "android/configs/android-recommended.cfg"

  tinyconfig:
    path: "kernel/configs/tiny.config"
    defconfig: 'tinyconfig'

  virtualvideo:
    path: "kernel/configs/virtualvideo.config"
    configs:
      - 'CONFIG_MEDIA_SUPPORT=y'
      - 'CONFIG_MEDIA_CAMERA_SUPPORT=y'
      - 'CONFIG_VIDEO_DEV=y'
      - 'CONFIG_VIDEO_V4L2=y'
      - 'CONFIG_V4L_TEST_DRIVERS=y'
      - 'CONFIG_VIDEO_VIVID=y'
      - 'CONFIG_VIDEO_VIVID_MAX_DEVS=64'

  x86_kvm_guest:
    path: "arch/x86/configs/kvm_guest.config"


build_environments:

  gcc-8:
    cc: gcc
    cc_version: 8
    arch_map: &gcc_arch_map
      i386: 'x86'
      x86_64: 'x86'
      riscv: 'riscv64'
    cross_compile: &default_cross_compile
      arc: 'arc-elf32-'
      arm: 'arm-linux-gnueabihf-'
      arm64: 'aarch64-linux-gnu-'
      mips: 'mips-linux-gnu-'
      riscv: 'riscv64-linux-gnu-'

  clang-8:
    cc: clang
    cc_version: 8
    arch_map: &clang_arch_map
      i386:
      x86_64:
      arm:
      arm64:
      mips:
      arc:
      riscv:
    cross_compile: *default_cross_compile

  clang-9:
    cc: clang
    cc_version: 9
    arch_map: *clang_arch_map
    cross_compile: *default_cross_compile


build_configs_defaults:

  gcc-8:

    build_environment: gcc-8

    fragments: &default_fragments
      - 'debug'
      - 'kselftest'
      - 'tinyconfig'

    architectures: &default_architectures

      arc: &arc_arch
        base_defconfig: 'nsim_hs_defconfig'
        extra_configs: ['allnoconfig']
        filters: &arc_defconfig_filters
          # remove any non-ARCv2 defconfigs since we only have ARCv2 toolchain
          - blacklist:
              defconfig:
                - 'axs101_defconfig'
                - 'nps_defconfig'
                - 'nsim_700_defconfig'
                - 'nsimosci_defconfig'
                - 'tb10x_defconfig'

      arm: &arm_arch
        base_defconfig: 'multi_v7_defconfig'
        extra_configs:
          - 'allnoconfig'
          - 'multi_v7_defconfig+CONFIG_CPU_BIG_ENDIAN=y'
          - 'multi_v7_defconfig+CONFIG_SMP=n'
          - 'multi_v7_defconfig+CONFIG_EFI=y+CONFIG_ARM_LPAE=y'

      arm64: &arm64_arch
        extra_configs:
          - 'allmodconfig'
          - 'allnoconfig'
          - 'defconfig+CONFIG_CPU_BIG_ENDIAN=y'
          - 'defconfig+CONFIG_RANDOMIZE_BASE=y'

      i386: &i386_arch
        base_defconfig: 'i386_defconfig'
        extra_configs: ['allnoconfig']

      mips: &mips_arch
        base_defconfig: '32r2el_defconfig'
        extra_configs: ['allnoconfig']
        filters: &mips_defconfig_filters
          - blacklist: {defconfig: ['generic_defconfig']}

      riscv: &riscv_arch
        extra_configs: ['allnoconfig']

      x86_64: &x86_64_arch
        base_defconfig: 'x86_64_defconfig'
        extra_configs: ['allmodconfig', 'allnoconfig']
        fragments: [x86_kvm_guest]


# Build fewer kernel configs with stable branches
stable_variants: &stable_variants
  gcc-8:
    build_environment: gcc-8
    fragments: ['tinyconfig']
    architectures:
      arc:
        base_defconfig: 'nsim_hs_defconfig'
        extra_configs: ['allnoconfig']
        filters: *arc_defconfig_filters
      arm:
        base_defconfig: 'multi_v7_defconfig'
        extra_configs: ['allnoconfig']
      arm64:
        extra_configs: ['allnoconfig']
      i386:
        base_defconfig: 'i386_defconfig'
        extra_configs: ['allnoconfig']
      mips:
        base_defconfig: '32r2el_defconfig'
        extra_configs: ['allnoconfig']
        filters: *mips_defconfig_filters
      riscv:
        extra_configs: ['allnoconfig']
      x86_64:
        base_defconfig: 'x86_64_defconfig'
        extra_configs: ['allnoconfig']


build_configs:

  agross:
    tree: agross
    branch: 'for-next'

  alex:
    tree: alex
    branch: 'kernel-ci'

  amlogic:
    tree: amlogic
    branch: 'for-next'

  amlogic_integ:
    tree: amlogic
    branch: 'integ'

  android_3.18:
    tree: android
    branch: 'android-3.18'

  android_3.18-o-mr1:
    tree: android
    branch: 'android-3.18-o-mr1'

  android_3.18-o-release:
    tree: android
    branch: 'android-3.18-o-release'

  android_4.4:
    tree: android
    branch: 'android-4.4'

  android_4.4-o:
    tree: android
    branch: 'android-4.4-o'

  android_4.4-o-mr1:
    tree: android
    branch: 'android-4.4-o-mr1'

  android_4.4-o-release:
    tree: android
    branch: 'android-4.4-o-release'

  android_4.4-p:
    tree: android
    branch: 'android-4.4-p'

  android_4.4-p-release:
    tree: android
    branch: 'android-4.4-p-release'

  android_4.9:
    tree: android
    branch: 'android-4.9'

  android_4.9-o:
    tree: android
    branch: 'android-4.9-o'

  android_4.9-o-mr1:
    tree: android
    branch: 'android-4.9-o-mr1'

  android_4.9-o-release:
    tree: android
    branch: 'android-4.9-o-release'

  android_4.9-p:
    tree: android
    branch: 'android-4.9-p'

  android_4.9-p-release:
    tree: android
    branch: 'android-4.9-p-release'

  android_4.9-q:
    tree: android
    branch: 'android-4.9-q'

  android_4.14:
    tree: android
    branch: 'android-4.14'

  android_4.14-p:
    tree: android
    branch: 'android-4.14-p'

  android_4.14-p-release:
    tree: android
    branch: 'android-4.14-p-release'

  android_4.14-q:
    tree: android
    branch: 'android-4.14-q'

  android_4.19:
    tree: android
    branch: 'android-4.19'

  android_4.19-gki-dev:
    tree: android
    branch: 'android-4.19-gki-dev'

  android_4.19-q:
    tree: android
    branch: 'android-4.19-q'

  android_mainline:
    tree: android
    branch: 'android-mainline'

  android_mainline_tracking:
    tree: android
    branch: 'android-mainline-tracking'

  ardb:
    tree: ardb
    branch: 'for-kernelci'

  ardb_arm-kaslr-latest:
    tree: ardb
    branch: 'arm-kaslr-latest'
    variants:
      gcc-8:
        build_environment: gcc-8
        architectures:
          x86_64: *x86_64_arch
          arm64: *arm64_arch
          arm:
            base_defconfig: 'multi_v7_defconfig'
            extra_configs:
              - 'multi_v7_defconfig+CONFIG_CPU_BIG_ENDIAN=y'
              - 'multi_v7_defconfig+CONFIG_SMP=n'
              - 'multi_v7_defconfig+CONFIG_EFI=y+CONFIG_ARM_LPAE=y'
              - 'multi_v7_defconfig+CONFIG_RANDOMIZE_BASE=y'
              - 'multi_v7_defconfig+CONFIG_THUMB2_KERNEL=y+CONFIG_RANDOMIZE_BASE=y'
              - 'omap2plus_defconfig+CONFIG_RANDOMIZE_BASE=y'

  arnd:
    tree: arnd
    branch: 'to-build'

#  Disabled as the branch name contains a '/'.  See discussion here:
#  https://github.com/kernelci/kernelci-core/issues/23
#
#  arm-soc_fixes:
#    tree: arm-soc
#    branch: 'arm/fixes'

  arm-soc_for-next:
    tree: arm-soc
    branch: 'for-next'

  broonie-regmap:
    tree: broonie-regmap
    branch: 'for-next'

  broonie-regulator:
    tree: broonie-regulator
    branch: 'for-next'

  broonie-sound:
    tree: broonie-sound
    branch: 'for-next'

  broonie-spi:
    tree: broonie-spi
    branch: 'for-next'

  chrome-platform:
    tree: chrome-platform
    branch: 'for-kernelci'

  clk:
    tree: clk
    branch: 'clk-next'

  efi:
    tree: efi
    branch: 'next'

  evalenti:
    tree: evalenti
    branch: 'for-kernelci'

  gtucker_stable:
    tree: gtucker
    branch: 'kernelci-stable'
    variants: *stable_variants

  khilman:
    tree: khilman
    branch: 'to-build'

  krzysztof:
    tree: krzysztof
    branch: 'for-next'

  linaro-android:
    tree: linaro-android
    branch: 'linaro-android-llct'

  linusw_devel:
    tree: linusw
    branch: 'devel'

  linusw_fixes:
    tree: linusw
    branch: 'fixes'

  linusw_for-next:
    tree: linusw
    branch: 'for-next'

  lsk_for-test:
    tree: lsk
    branch: 'for-test'

  lsk_v4.4:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.4'

  lsk_v4.4-test:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.4-test'

  lsk_v4.4-rt:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.4-rt'

  lsk_v4.4-rt-test:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.4-rt-test'

  lsk_v4.4-android:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.4-android'

  lsk_v4.4-android-test:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.4-android-test'
    variants:
      gcc-8:
        build_environment: gcc-8
        fragments: [linaro_android_base, linaro_android_recommended]
        architectures:
          arm: *arm_arch
          arm64: *arm64_arch
          x86_64: *x86_64_arch

  lsk_v4.9:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.9'

  lsk_v4.9-test:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.9-test'

  lsk_v4.4.9-rt:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.9-rt'

  lsk_v4.9-rt-test:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.9-rt-test'

  lsk_v4.14:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.14'

  lsk_v4.14-test:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.14-test'

  lsk_v4.14-rt:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.14-rt'

  lsk_v4.14-rt-test:
    tree: lsk
    branch: 'linux-linaro-lsk-v4.14-rt-test'

  mainline:
    tree: mainline
    branch: 'master'

  media:
    tree: media
    branch: 'master'
    variants:
      gcc-8:
        build_environment: gcc-8
        fragments: [virtualvideo]
        architectures:
          i386: *i386_arch
          x86_64: *x86_64_arch
          arm: *arm_arch
          arm64: *arm64_arch

  net-next:
    tree: net-next
    branch: 'master'

  next:
    tree: next
    branch: 'master'
    variants:
      gcc-8:
        build_environment: gcc-8
        fragments: *default_fragments
        architectures:
          i386: *i386_arch
          x86_64: *x86_64_arch
          mips: *mips_arch
          riscv: *riscv_arch
          arc: *arc_arch
          arm64: *arm64_arch
          arm:
            base_defconfig: 'multi_v7_defconfig'
            extra_configs:
              - 'multi_v7_defconfig+CONFIG_CPU_BIG_ENDIAN=y'
              - 'multi_v7_defconfig+CONFIG_SMP=n'
              - 'multi_v7_defconfig+CONFIG_EFI=y+CONFIG_ARM_LPAE=y'
              - 'allnoconfig'
              - 'allmodconfig'
      clang-8:
        build_environment: clang-8
        fragments: *default_fragments
        architectures:
          arm64: *arm64_arch

  next_pending-fixes:
    tree: next
    branch: 'pending-fixes'

  omap:
    tree: omap
    branch: 'for-next'

  pmwg:
    tree: pmwg
    branch: 'integ'

  qcom-lt:
    tree: qcom-lt
    branch: 'integration-linux-qcomlt'

  rmk_for-next:
    tree: rmk
    branch: 'for-next'

  rmk_to-build:
    tree: rmk
    branch: 'to-build'

  renesas:
    tree: renesas
    branch: 'devel'

  renesas_next:
    tree: renesas
    branch: 'next'

  rt-stable_v3.18-rt:
    tree: rt-stable
    branch: 'v3.18-rt'

  rt-stable_v4.1-rt:
    tree: rt-stable
    branch: 'v4.1-rt'

  rt-stable_v4.4-rt:
    tree: rt-stable
    branch: 'v4.4-rt'

  rt-stable_v4.9-rt:
    tree: rt-stable
    branch: 'v4.9-rt'

  rt-stable_v4.14-rt:
    tree: rt-stable
    branch: 'v4.14-rt'

  samsung:
    tree: samsung
    branch: 'for-next'

  stable_3.18:
    tree: stable
    branch: 'linux-3.18.y'
    variants: *stable_variants

  stable_4.4:
    tree: stable
    branch: 'linux-4.4.y'
    variants: *stable_variants

  stable_4.9:
    tree: stable
    branch: 'linux-4.9.y'
    variants: *stable_variants

  stable_4.14:
    tree: stable
    branch: 'linux-4.14.y'
    variants: *stable_variants

  stable_4.19:
    tree: stable
    branch: 'linux-4.19.y'
    variants: *stable_variants

  stable_5.0:
    tree: stable
    branch: 'linux-5.0.y'
    variants: *stable_variants

  stable_5.1:
    tree: stable
    branch: 'linux-5.1.y'
    variants: *stable_variants

  stable-rc_3.18:
    tree: stable-rc
    branch: 'linux-3.18.y'
    variants: *stable_variants

  stable-rc_4.4:
    tree: stable-rc
    branch: 'linux-4.4.y'
    variants: *stable_variants

  stable-rc_4.9:
    tree: stable-rc
    branch: 'linux-4.9.y'
    variants: *stable_variants

  stable-rc_4.14:
    tree: stable-rc
    branch: 'linux-4.14.y'
    variants: *stable_variants

  stable-rc_4.19:
    tree: stable-rc
    branch: 'linux-4.19.y'
    variants: *stable_variants

  stable-rc_5.0:
    tree: stable-rc
    branch: 'linux-5.0.y'
    variants: *stable_variants

  stable-rc_5.1:
    tree: stable-rc
    branch: 'linux-5.1.y'
    variants: *stable_variants

  tegra:
    tree: tegra
    branch: 'for-next'

  ulfh:
    tree: ulfh
    branch: 'next'
