# -*- mode: Conf[TOML] -*- -#
#
# Sample kernelci.toml settings file with arbitrary values.
#
# These value are only for illustration purposes, they should be manually set
# by every user as required.
#
# The settings provided here are typical ones that shouldn't change in every
# command line call when used manually for local development purposes.  Any
# argument can have a default value stored in this file.  Each subcommand can
# have its own setction, for example [kci.docker] for 'kci docker'.
#
# A special section [kci.secrets] is used to provide secrets with configuration
# names, for example API secrets are stored in [kci.secrets.api.<api-name>].
#
# Since this relies on the TOML dotted keys syntax, make sure to enclose
# sub-section names in "" (double-quotes) if they contain "."  (dot) in their
# name e.g api."staging.kernelci.org".token.

# -- Sample global defaults ---
#
# [kci]
# verbose = true
# indent = 2
# api = 'docker-host'
# storage = 'docker-host'

# -- Sample docker command config --
#
# [kci.docker]
# prefix = 'username/'

# -- Sample secrets --
#
# [kci.secrets]
# api.docker-host.token = 'my-secret-token'
