azure-storage-blob==12.30.0
azure-storage-file-share==12.25.0
bson==0.5.10
click==8.3.1
cloudevents==1.12.1
docker==7.1.0
jinja2==3.1.6
kubernetes==35.0.0
paramiko==5.0.0
pydantic==2.13.4
pyelftools==0.32
pytest==9.0.3
pyyaml==6.0.3
requests==2.34.2
scp==0.15.0
toml==0.10.2
