Sphinx
celery[redis]==3.1.16
futures==2.2.0
mock>0.7.2
mongomock==1.2.0
netaddr==0.7.12
pycares==0.6.3
pymongo
redis==2.10.3
simplejson>=3.6.1
sphinx-bootstrap-theme
sphinxcontrib-httpdomain
tornado==3.2.2
