{% extends 'base.jinja2' %}

{% block script_init -%}
import sys
{% endblock %}

{% block script_exit -%}
if __name__ == '__main__':
    ret = main(sys.argv)
    sys.exit(0 if ret is True else 1)
{% endblock %}
