- test:
    timeout:
      minutes: {{ job_timeout }}
    definitions:
    - from: inline
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: timesync-off
          description: Disable systemd time sync services
        run:
          steps:
          - systemctl stop systemd-timesyncd || true
      name: timesync-off
      path: inline/timesync-off.yaml

    - repository: https://github.com/kernelci/test-definitions.git
      from: git
      revision: kernelci.org
      path: automated/linux/libhugetlbfs/libhugetlbfs.yaml
      name: libhugetlbfs
      parameters:
        SKIP_INSTALL: True
{% if arch == 'arm' %}
        WORD_SIZE: 32
{% endif %}
{% if arch == 'arm64' %}
        WORD_SIZE: 64
{% endif %}
{% if arch == 'x86_64' %}
        WORD_SIZE: 64
{% endif %}
