- test:
    timeout:
      minutes: 5
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: sleep
          description: "sleep test plan"
          os:
          - oe
          scope:
          - functional
        run:
          steps:
            - for i in $(seq 1 10); do lava-test-case rtcwake-mem-$i --shell rtcwake -d rtc0 -m mem -s 1; done
            - for i in $(seq 1 10); do lava-test-case rtcwake-freeze-$i --shell rtcwake -d rtc0 -m freeze -s 1; done
      lava-signal: kmsg
      from: inline
      name: sleep
      path: inline/sleep.yaml
