{% extends 'base/kernel-ci-base.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{{ super() }}
{% endblock %}
{% block deploy %}
actions:
- deploy:
    timeout:
      minutes: 10
    to: tftp
    kernel:
      url: {{ kernel_url }}
{%- block kernel_image_type %}
      type: {{ kernel_image.lower() }}
{%- endblock %}
{%- if nfsrootfs_url %}
    nfsrootfs:
      url: {{ nfsrootfs_url }}
      compression: xz
{%- endif %}
{%- if initrd_url %}
    ramdisk:
      url: {{ initrd_url }}
      compression: gz
{%- endif %}
{%- if modules_url %}
    modules:
      url: {{ modules_url }}
      compression: xz
{%- endif %}
{%- if dtb_url %}
    dtb:
      url: {{ dtb_url }}
{%- endif %}
    os: oe
{% endblock %}
