- test:
    namespace: modules
    timeout:
      minutes: 5
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: modules
          description: modules
          os:
            - oe
          scope:
            - functional
          environment:
            - lava-test-shell
        run:
          steps:
            - >-
              /opt/chromeos/install-modules
              '{{ node.artifacts.modules }}'
              || lava-test-raise "modules-install"
      from: inline
      name: modules
      path: inline/modules.yaml

# Chrome OS
- deploy:
    namespace: chromeos
    timeout:
      minutes: 10
    to: tftp
    kernel:
      url: '{{ node.artifacts.kernel }}'
{%- if device_dtb %}
    dtb:
      url: '{{ node.artifacts.dtb }}'
{%- endif %}
    os: oe

- boot:
    namespace: chromeos
    timeout:
      minutes: 5
    failure_retry: 3
    method: depthcharge
    commands: emmc
    extra_kernel_args: cros_secure cros_debug root=PARTUUID=566f7961-6765-7220-746f-20756e697665 rootwait ro
    prompts:
      - 'localhost(.*)~(.*)#'
    failure_message: 'chromeos-boot-alert: self_repair'
    auto_login:
      login_prompt: "login:"
      username: "root"
      password_prompt: "Password:"
      password: "test0000"
