{% extends 'base/kernel-ci-base.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{{ super() }}
{% endblock %}
{% block deploy %}
actions:
{%- if recovery_image_url %}
- deploy:
    timeout:
      minutes: 10
    to: {{ recovery_deploy }}
    images:
      recovery_image:
        url: {{ recovery_image_url }}
{%- endif %}
- deploy:
    timeout:
      minutes: 10
    to: tftp
    kernel:
      url: {{ kernel_url }}
{%- block kernel_image_type %}
      type: {{ kernel_image.lower() }}
{%- endblock %}
{%- if nfsrootfs_url %}
    nfsrootfs:
      url: {{ nfsrootfs_url }}
      {%- if nfsroot_compression %}
      compression: {{ nfsroot_compression }}
      {%- endif %}
{%- endif %}
{%- if initrd_url %}
    ramdisk:
      url: {{ initrd_url }}
      {%- if initrd_compression %}
      compression: {{ initrd_compression }}
      {%- endif %}
{%- endif %}
{%- if modules_url %}
    modules:
      url: {{ modules_url }}
      {%- if modules_compression %}
      compression: {{ modules_compression }}
      {%- endif %}
{%- endif %}
{%- if dtb_url %}
    dtb:
      url: {{ dtb_url }}
{%- endif %}
    os: {{ os_config|default("oe") }}
{% endblock %}
