{% set extra_kernel_args = "console_msg_format=syslog earlycon ip=dhcp" %}

{%- block metadata %}
metadata:
  image.url: {{ image_url }}
  kernel.tree: {{ tree }}
  kernel.version: {{ kernel }}
  kernel.endian: {{ endian }}
  kernel.defconfig: {{ defconfig }}
  kernel.defconfig_full: {{ defconfig_full }}
  platform.dtb: {{ dtb_full }}
  platform.dtb_short: {{ dtb_short }}
  platform.fastboot: {{ fastboot }}
  platform.mach: {{ mach }}
  test.plan: {{ plan }}
  test.plan_variant: {{ plan_variant }}
  git.commit: {{ git_commit }}
  git.describe: {{ git_describe }}
  git.branch: {{ git_branch }}
  git.url: {{ git_url }}
  device.type: {{ device_type }}
  job.arch: {{ arch }}
  job.name: {{ name }}
  job.kernel_url: {{ kernel_url }}
  job.kernel_image: {{ kernel_image }}
  job.modules_url: {{ modules_url }}
  job.initrd_url: {{ initrd_url }}
  job.nfsrootfs_url: {{ nfsrootfs_url }}
  job.dtb_url: {{ dtb_url }}
  job.file_server_resource: {{ file_server_resource }}
  job.build_environment: {{ build_environment }}
{%- endblock %}
{% block main %}
device_type: {{ base_device_type }}

{% if context %}
context:
{% for key, value in context.items() %}  {{ key }}: {{ value }}
{% endfor %}
{% endif %}

{%- if callback %}
notify:
  criteria:
    status: finished
  callback:
{%- if callback_type == 'custom' %}
    url: {{ callback_url }}
{%- else %}
    url: {{ callback_url }}/callback/{{ callback_name }}?lab_name={{ lab_name }}&status={STATUS}&status_string={STATUS_STRING}
{%- endif %}
    method: POST
    dataset: {{ callback_dataset }}
    token: {{ callback }}
    content-type: json
{% endif %}

job_name: {{ name|truncate(200) }}
timeouts:
  job:
    minutes: {{ job_timeout|default("10") }}
  action:
   minutes: 10
  actions:
    power-off:
      seconds: 30
{%- if queue_timeout %}
  queue:
    {%- if queue_timeout.hours %}
    hours: {{ queue_timeout.hours }}
    {% endif %}
    {%- if queue_timeout.days %}
    days: {{ queue_timeout.days }}
    {% endif %}
{% endif %}
priority: {{ priority }}
visibility: public
{% endblock %}
{% block actions %}{% endblock %}
