{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2024 Collabora Limited
 # Author: Paweł Wieczorek <pawiecz@collabora.com>
-#}

{%- set fragments = ['fragment/api.jinja2'] + fragments %}
{%- set is_api = true %}
{%- include 'base/python.jinja2' %}
