{%- set sub_arch = 'armel' %}
{% extends 'clang-14.jinja2' %}

{% block packages %}
{{ super() }}

RUN dpkg --add-architecture armel

RUN apt-get update && apt-get install --no-install-recommends -y \
    libgcc-10-dev:armel

{%- endblock %}

