{%- set sub_arch = 'armhf' %}
{% extends 'clang-11.jinja2' %}

{% block packages %}
{{ super() }}

RUN dpkg --add-architecture armhf

RUN apt-get update && apt-get install --no-install-recommends -y \
    libgcc-10-dev:armhf

{%- endblock %}

