{% extends 'base/clang.jinja2' %}

{% block packages %}
{{ super() }}

# adding llvm key is convoluted process due SHA1 signature and other problems
RUN wget -qO /usr/share/keyrings/llvm-archive-keyring.asc https://apt.llvm.org/llvm-snapshot.gpg.key
RUN echo 'deb [signed-by=/usr/share/keyrings/llvm-archive-keyring.asc] http://apt.llvm.org/trixie/ llvm-toolchain-trixie-21 main' \
   >> /etc/apt/sources.list.d/clang.list
RUN mkdir -p /etc/apt/apt.conf.d && \
    echo 'Acquire::gpgv::Options { "--gnupg-main-keyring=/usr/share/keyrings/llvm-archive-keyring.gpg" };' > /etc/apt/apt.conf.d/99llvm

RUN apt-get update && apt-get install --no-install-recommends -y \
    clang-21 lld-21 llvm-21

ENV PATH=/usr/lib/llvm-21/bin:${PATH}
{%- endblock %}
