{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2021, 2022 Collabora Limited
 # Author: Guillaume Tucker <guillaume.tucker@collabora.com>
-#}

{% extends 'base/debian.jinja2' %}

{% block packages %}

RUN apt-get update && apt-get install --no-install-recommends -y \
    curl \
    git \
    inetutils-ping \
    python3 \
    python-pkg-resources \
    python3-pip \
    sudo \
    ssh \
    wget

{% include 'fragment/cros-lava.jinja2' %}
# Update gsutil to latest version, so it doesnt download it in LAVA
# docker each time. But don't fail if we are already latest version
RUN gsutil update -n || true

{{ super() }}

ADD https://raw.githubusercontent.com/kernelci/kernelci-core/chromeos.kernelci.org/config/docker/data/tast_parser.py /home/cros/tast_parser.py
ADD https://raw.githubusercontent.com/kernelci/kernelci-core/chromeos.kernelci.org/config/docker/data/ssh_retry.sh /home/cros/ssh_retry.sh
ADD https://raw.githubusercontent.com/kernelci/kernelci-core/chromeos.kernelci.org/config/docker/data/tast_test_list.py /home/cros/tast_test_list.py

# Needed by LAVA to install the overlay
USER root
RUN chmod +x /home/cros/tast_parser.py /home/cros/ssh_retry.sh /home/cros/tast_test_list.py

# Create symlink to /usr/local/bin for tast gs:// downloads
RUN ln -s /home/cros/trunk/chromite/scripts/gsutil /usr/local/bin/
{%- endblock %}
