{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2021, 2022 Collabora Limited
 # Author: Guillaume Tucker <guillaume.tucker@collabora.com>
-#}

{% extends 'base/debian.jinja2' %}

{% block packages %}
{{ super() }}
RUN apt-get update \
    && apt-get upgrade -y \
    && apt-get install -y --no-install-recommends \
        build-essential \
        curl \
        git \
        libguestfs-tools \
        linux-image-amd64 \
        netbase \
        sudo \
        ssh \
        wget

# We have uid conflict with jenkins useradd, WORKAROUND
RUN userdel -r jenkins || true
RUN userdel -r buildslave || true

RUN useradd -ou 996 -ms /bin/sh cros
RUN adduser cros sudo && echo '%sudo ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers
RUN mkdir -p /home/cros/chromiumos
RUN chown -R cros /home/cros/chromiumos

ENV PATH="${PATH}:/kernelci-core/temp/temp/chromiumos-sdk/chromite/bin"

{%- endblock %}
