{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2022 Collabora Limited
 # Author: Guillaume Tucker <guillaume.tucker@collabora.com>
-#}

{% extends 'base/debian.jinja2' %}

{% block packages %}

{% include 'fragment/coccinelle.jinja2' %}

RUN apt-get update && apt-get install --no-install-recommends -y \
    git \
    python3-pip \
    python3-setuptools \
    python3-wheel

RUN pip3 install --system git+https://github.com/evdenis/cvehound.git@master
{%- endblock %}
