{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2021, 2022 Collabora Limited
 # Author: Guillaume Tucker <guillaume.tucker@collabora.com>
-#}

{%- set fragments = [
  'fragment/kubernetes.jinja2',
  'fragment/gcloud.jinja2',
  'fragment/azure-cli.jinja2']
  + fragments
-%}

{% extends 'base/debian.jinja2' %}

{% block packages %}
{{ super() }}
RUN apt-get update && apt-get install --no-install-recommends -y \
    wget
{%- endblock %}
