{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2021, 2022 Collabora Limited
 # Author: Guillaume Tucker <guillaume.tucker@collabora.com>
-#}

{%- set fragments = ['fragment/kernelci.jinja2'] + fragments %}
{%- include 'base/python.jinja2' %}
