{% extends 'base/kernel-ci-base-tftp-deploy.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{{ super() }}
{% endblock %}
{% block actions %}
{%- block deploy %}
{{ super () }}
{%- endblock %}

- boot:
    timeout:
      minutes: 5
    method: grub
    commands: nfs
    prompts:
      - '{{ rootfs_prompt }}'
{% endblock %}
