{% extends 'base/kernel-ci-base.jinja2' %}
{% block main %}
{{ super () }}
context:
  extra_kernel_args: console_msg_format=syslog cros_secure cros_debug
{% endblock %}

{% block actions %}
{{ super () }}

actions:
- deploy:
    kernel:
      url: {{ flashing_kernel }}
    modules:
      url: {{ flashing_modules }}
      compression: xz
    nfsrootfs:
      url: {{ flashing_rootfs }}
      compression: xz
    ramdisk:
      url: {{ flashing_ramdisk }}
      compression: gz
    os: oe
    timeout:
      minutes: 60
    to: tftp


- boot:
    timeout:
      minutes: 60
    method: depthcharge
    commands: nfs
    prompts:
      - '/ #'

- test:
    timeout:
      minutes: 60
    docker:
      image: {{ docker_image }}
      wait:
        device: true
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: docker-network
        run:
          steps:
            - ping -c 1 172.17.0.1
            - lava-test-case wget --shell  "wget http://172.17.0.1/chromeos/{{ chromeos_image }}"
            - lava-test-case scp --shell "scp -i /keys/id_rsa_chromeos_flash -o ConnectTimeout=3 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ chromeos_image }} root@$(lava-target-ip):/root"
      from: inline
      name: docker-network
      path: inline/docker-network.yaml

- test:
    timeout:
      minutes: 60
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: chromeos-flash
          description: "Flash Chrome OS image"
          os:
            - debian
          scope:
            - functional
          environment:
            - lava-test-shell
        run:
          steps:
            - lsblk
            - ls -l /root
            - IMAGE_NAME={{ chromeos_image }}  /bin/bash /usr/bin/chromeos-flash-modules.sh flash_chromeos enable_rw fixup_root
      lava-signal: kmsg
      from: inline
      name: chromeos-flash
      path: inline/chromeos-flash.yaml
      
{% endblock %}
