{% extends 'base/kernel-ci-base.jinja2' %}
{% block main %}
{%- if extra_kernel_args %}
{% do context.update({"extra_kernel_args": extra_kernel_args}) %}
{% endif %}
{{ super () }}
{%- if device_id %}
tags: ['{{ device_id }}']
{%- endif %}
{% endblock %}

{% block actions %}
{{ super () }}
actions:

# Debian NFS to install kernel modules

- deploy:
    namespace: modules
    timeout:
      minutes: 5
    to: tftp
    kernel:
      url: {{ cros_flash_kernel }}
    modules:
      url: {{ cros_flash_modules }}
      compression: xz
    nfsrootfs:
      url: {{ cros_flash_nfs }}
      compression: xz
    ramdisk:
      url: {{ cros_flash_initrd }}
      compression: gz
    os: oe

- boot:
    namespace: modules
    timeout:
      minutes: 5
    method: depthcharge
    commands: nfs
    prompts:
      - '/ #'

- test:
    namespace: modules
    timeout:
      minutes: 5
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: modules
          description: modules
          os:
            - oe
          scope:
            - functional
          environment:
            - lava-test-shell
        run:
          steps:
            - >-
              lava-test-case modules --shell /opt/chromeos/install-modules
{%- if fixed_kernel is not defined %}
              {{ modules_url }}
{%- else %}
              {{ reference_kernel.modules }}
{%- endif %}
      from: inline
      name: modules
      path: inline/modules.yaml

# Chrome OS

- deploy:
    namespace: chromeos
    timeout:
      minutes: 10
    to: tftp
    kernel:
{%- if fixed_kernel is not defined %}
      url: {{ kernel_url }}
{%- else %}
      # Fixed reference kernel
      url: {{ reference_kernel.image }}
{%- endif %}
    os: oe

- boot:
    namespace: chromeos
    timeout:
      minutes: 5
    method: depthcharge
    commands: emmc
    extra_kernel_args: cros_secure cros_debug root=/dev/{{ block_device }}p3 rootwait ro
    prompts:
      - 'localhost(.*)~(.*)#'
    auto_login:
      login_prompt: "login:"
      username: "root"
      password_prompt: "Password:"
      password: "test0000"
{% endblock %}
