{% extends 'base/kernel-ci-base.jinja2' %}
{% block main %}
{%- if extra_kernel_args %}
{% do context.update({"extra_kernel_args": extra_kernel_args}) %}
{% endif %}
{{ super () }}
{%- if device_id %}
tags: ['{{ device_id }}']
{%- endif %}
{% endblock %}

{% block actions %}
{{ super () }}
actions:

- deploy:
    to: downloads
    images:
      rootfs:
        url: {{ rootfs_url }}
        compression: gz
      kernel:
{% if fixed_kernel is not defined %}
        url: {{ kernel_url }}
{% else %}
        url: {{ reference_kernel.image }}
{% endif %}
      modules:
{% if fixed_kernel is not defined %}
        url: {{ modules_url }}
{% else %}
        url: {{ reference_kernel.modules }}
{% endif %}
        compression: xz
    postprocess:
      docker:
        image: kernelci/cros-qemu-modules
        steps:
          - /add_modules.sh

- deploy:
    images:
      bios:
        image_arg: -bios {bios}
        url: {{ bios_url }}
      rootfs:
        image_arg: -drive format=raw,file={rootfs},id=lavatest2,if=none
        url: downloads://chromiumos_test_image.bin
      kernel:
        image_arg: -kernel {kernel} --append 'init=/sbin/init boot=local rootwait ro noresume noswap loglevel=7 earlyprintk=serial,keep console=tty0 console=ttyS0 i915.modeset=1 cros_efi cros_debug root=/dev/sda3 tsc=unstable'
        url: downloads://./bzImage
    os: oe
    timeout:
      minutes: 10
    to: tmpfs

- boot:
    method: qemu
    media: tmpfs
    timeout:
      minutes: 5
    prompts:
    - "login:"
{% endblock %}
