{% extends 'base/kernel-ci-base.jinja2' %}
{% block main %}
{{ super () }}
context:
  extra_kernel_args: console_msg_format=syslog cros_secure cros_debug
{% if device_id %}
tags: ['{{ device_id }}']
{%- endif %}
{%- endblock %}

{% block actions %}
{{ super () }}

actions:
- deploy:
    kernel:
      url: {{ cros_flash_kernel }}
    modules:
      url: {{ cros_flash_modules }}
      compression: xz
    nfsrootfs:
      url: {{ cros_flash_image }}
      compression: gz
    ramdisk:
      url: {{ cros_flash_initrd }}
      compression: gz
    os: oe
    timeout:
      minutes: 15
    to: tftp

- boot:
    timeout:
      minutes: 5
    method: depthcharge
    commands: nfs
    prompts:
      - '/ #'

- test:
    timeout:
      minutes: 30
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: cros-flash
        run:
          steps:
            - lava-test-case flash --shell "/opt/chromeos/flash chromiumos_test_image.bin {{ flashing_device }}"
      from: inline
      name: cros-flash
      path: inline/cros-flash.yaml
{% endblock %}
