{% extends base_template|default('chromeos/cros-boot.jinja2') %}
{% block actions %}
{{ super() }}
- test:
    namespace: chromeos
    timeout:
      minutes: 30
    docker:
      image: {{ docker_image }}
      wait:
        device: true
    results:
      location: /home/cros-tast/lava
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: cros-tast
        run:
          steps:
            - cd /home/cros-tast
            - >-
              lava-test-case tast-tarball --shell
              curl -s {{ cros_image.base_url }}{{ cros_image.tast_tarball }}
              \| tar xzvf -
              && cp remote_test_runner /usr/bin/remote_test_runner
            - while ! ping -c 1 -w 1 $(lava-target-ip); do sleep 1; done
            - >-
              lava-test-case os-release --shell
              ssh
              -o StrictHostKeyChecking=no
              -o UserKnownHostsFile=/dev/null
              -i /home/cros-tast/.ssh/id_rsa
              root@$(lava-target-ip)
              cat /etc/os-release
            - >-
              ./tast_parser.py
              kernel.*
              platform.CheckDiskSpace
              platform.CheckProcesses
              platform.CheckTracefsInstances
              platform.ChromeMlocked
              platform.CrosDisks
              platform.CrosDisksArchive
              platform.CrosDisksFilesystem
              platform.CrosDisksFormat
              platform.CrosDisksRename
              platform.CrosDisksSSHFS
              platform.CrosID
              platform.Crossystem
              platform.DLCService
              platform.DLCServiceCrosDeploy
              platform.DLCServicePreloading
              platform.DMVerity
              platform.DumpVPDLog
              platform.Firewall
              platform.HeavyMemoryUser
              platform.HeavyMemoryUser.vm
              platform.Histograms
              platform.LocalPerfettoTBMTracedProbes
              platform.Memd
              platform.Mosys
              platform.Mosys.ec
              platform.Mosys.memory
              platform.Mtpd
              platform.TPMResponsive
              video.ChromeStackDecoding.*
              ui.WindowCyclePerf
      from: inline
      name: tast
      path: inline/cros-tast.yaml
{% endblock %}
