[run]
branch = True
source = .
omit =
    server.py
    setup*
    */tests/*
    utils/scripts/*
    handlers/dbindexes.py

[report]
precision = 2
show_missing = True

[html]
title = Code Coverage of kernel-ci-backend
directory = kernel-ci-backend-coverage
