- test:
    timeout:
      minutes: {{ job_timeout }}
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: {{ plan }}
          description: "WiFi test plan"
          os:
          - debian
          scope:
          - functional
        run:
          steps:
          - KERNELCI_LAVA=y /usr/bin/wifi-basic-parser.sh
      from: inline
      name: {{ plan }}
      path: inline/{{ plan }}.yaml