- test:
    timeout:
      minutes: 10
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: {{ plan_name }}
          description: "IGT test plan"
          os:
          - oe
          scope:
          - functional
        run:
          steps:
          - >
              /usr/bin/igt-parser.sh
              {{ tests|wordwrap(1, False, "\n              ") }}
      from: inline
      name: {{ plan_name }}
      path: inline/{{ plan_name }}.yaml
      lava-signal: kmsg
