{% extends 'base/kernel-ci-base.jinja2' %}
{% set ctx_arch = arch %}
{% if arch == "arm" %}
{% set ctx_cpu = 'cortex-a15' %}
{% set console_dev = 'ttyAMA0' %}
{% endif %}
{% if arch == "arm64" %}
{% set ctx_cpu = 'cortex-a57' %}
{% set console_dev = 'ttyAMA0' %}
{% endif %}
{% if arch == 'x86' %}
{% set ctx_arch = 'x86_64' %}
{% set ctx_cpu = 'qemu64' %}
{% set console_dev = 'ttyS0' %}
{% endif %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{{ super() }}
{% endblock %}
{% block actions %}
context:
  arch: {{ ctx_arch }}
  cpu: {{ ctx_cpu }}
  guestfs_interface: virtio

actions:
- deploy:
    timeout:
      minutes: 3
    to: tmpfs
    os: oe
    images:
      kernel:
        image_arg: '-kernel {kernel} -append "console={{ console_dev }},115200 root=/dev/ram0 debug verbose"'
        url: {{ kernel_url }}
      ramdisk:
        image_arg: '-initrd {ramdisk}'
        url: {{ initrd_url }}

- boot:
    timeout:
      minutes: 5
    method: qemu
    media: tmpfs
    prompts:
      - '{{ rootfs_prompt }}'
{% endblock %}
