[Unit]
Description=Kernel CI Backend Celery Beat
Wants=kernelci-celery.service

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true
SyslogIdentifier=kernelci-celery-beat
LimitNOFILE=65536
RestartSec=5
Restart=always
RuntimeDirectory=celery
RuntimeDirectoryMode=755
PIDFile=/tmp/kernelci-celery-beat.pid
WorkingDirectory={{ install_base }}/{{ hostname }}/app
ExecStart={{ install_base }}/.venv/{{ hostname }}/bin/python -OO -R \
    {{ install_base }}/.venv/{{ hostname }}/bin/celery beat \
    --loglevel=INFO --schedule=/var/run/celery/kernelci-beat.db \
    --app=taskqueue

[Install]
WantedBy=multi-user.target
