[Unit]
Description=Kernel CI Backend Celery
After=kernelci-backend.service

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true
SyslogIdentifier=kernelci-celery
LimitNOFILE=65536
RestartSec=5
Restart=always
RuntimeDirectory=celery
RuntimeDirectoryMode=755
PIDFile=/tmp/kernelci-celery.pid
WorkingDirectory={{ install_base }}/{{ hostname }}/app
{% if role == "production" %}
ExecStart={{ install_base }}/.venv/{{ hostname }}/bin/python -OO -R \
    {{ install_base }}/.venv/{{ hostname }}/bin/celery worker \
    -Ofair --without-gossip --autoscale=16,4 --loglevel=INFO \
    --app=taskqueue
{% else %}
ExecStart={{ install_base }}/.venv/{{ hostname }}/bin/python -OO -R \
    {{ install_base }}/.venv/{{ hostname }}/bin/celery worker \
    -Ofair --without-gossip --autoscale=5,1 --loglevel=INFO \
    --app=taskqueue
{% endif %}

[Install]
WantedBy=multi-user.target
