[Unit]
Description=Kernel CI Backend Service
Before=kernelci-celery.service
After=mongod.service

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true
SyslogIdentifier=kernelci-backend
LimitNOFILE=65536
RestartSec=5
Restart=always
WorkingDirectory={{ install_base }}/{{ hostname }}/app
ExecStart={{ install_base }}/.venv/{{ hostname }}/bin/python -OO -R server.py

[Install]
WantedBy=multi-user.target
