- test:
    timeout:
      minutes: 10
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: baseline
          description: "baseline test plan"
          os:
            - debian
          scope:
            - functional
          environment:
            - lava-test-shell
        run:
          steps:
            - export PATH=/opt/bootrr/helpers:$PATH
            - cd /opt/bootrr && sh helpers/bootrr-auto
      lava-signal: kmsg
      from: inline
      name: bootrr
      path: inline/bootrr.yaml
