{%- extends 'base/kernel-ci-base.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{{ super() }}
tags:
  - fastboot
{% endblock %}
{% block actions %}
actions:

- deploy:
    timeout:
      minutes: 40
    to: downloads
    postprocess:
      docker:
        image: montjoie/fastboot
        steps:
        - tar xf modules.tar.xz
        - gunzip rootfs.cpio.gz
        - find lib/ | cpio -o --format=newc --append -F rootfs.cpio
        - mkbootimg --kernel {{ kernel_image }} --second {{ dtb_short }} --ramdisk rootfs.cpio --cmdline {{ cmdline }} --kernel_offset {{ kernel_addr }} --ramdisk_offset {{ ramdisk_addr }} --second_offset {{ dtb_addr }} -o boot.img
        - rm -rf lib
    images:
     kernel:
      url: {{ kernel_url }}
{%- block kernel_image_type %}
      type: {{ kernel_image.lower() }}
{%- endblock %}
{%- if initrd_url %}
     ramdisk:
      url: {{ initrd_url }}
{%- endif %}
{%- if modules_url %}
     modules:
      url: {{ modules_url }}
{%- endif %}
{%- if dtb_url %}
     dtb:
      url: {{ dtb_url }}
{%- endif %}

{%- block deploy_boot %}

- deploy:
    timeout:
      minutes: 40
    docker:
      image: montjoie/fastboot
    to: fastboot
    images:
      boot:
        url: downloads://boot.img
{%- endblock %}
{%- block boot %}

- boot:
    docker:
      image: montjoie/fastboot
    prompts:
    - '/ #'
    timeout:
      minutes: 15
    method: fastboot
    transfer_overlay:
      download_command: udhcpc ; ip addr show ; wget
      unpack_command: tar -C / -zxvpf
{%- endblock %}
{% endblock %}
