test_plans:

  chromeos-boot: &chromeos-boot
    pattern: 'chromeos/chromeos-boot-chromebook-template.jinja2'
    params: &chromeos-boot-params
      prompt_command: 'sof-audio-pci'

  chromeos-boot-fixed:
    <<: *chromeos-boot
    params:
      <<: *chromeos-boot-params
      fixed_kernel: true

  chromeos-install-modules: &chromeos-install-modules
    pattern: 'chromeos/chromeos-install-modules-template.jinja2'
    params: &chromeos-install-modules-params
      job_timeout: '60'
      flashing_kernel: http://storage.chromeos.kernelci.org/images/kernel/v5.10.112-x86-chromebook/kernel/bzImage
      flashing_modules: http://storage.chromeos.kernelci.org/images/kernel/v5.10.112-x86-chromebook/modules.tar.xz
      flashing_rootfs: http://storage.chromeos.kernelci.org/images/rootfs/chromeos/20220505.0/bullseye-chromeos-flash/amd64/full.rootfs.tar.xz
      flashing_ramdisk: http://storage.chromeos.kernelci.org/images/rootfs/chromeos/20220505.0/bullseye-chromeos-flash/amd64/initrd.cpio.gz

  chromeos-install-modules-and-boot:
    pattern: 'chromeos/chromeos-install-modules-and-boot-template.jinja2'
    params:
      <<: *chromeos-install-modules-params
      <<: *chromeos-boot-params

  chromeos-install-modules-and-boot-fixed:
    pattern: 'chromeos/chromeos-install-modules-and-boot-template.jinja2'
    params:
      <<: *chromeos-install-modules-params
      <<: *chromeos-boot-params
      fixed_kernel: true

  chromeos-install-modules-fixed:
    <<: *chromeos-install-modules
    params:
      <<: *chromeos-install-modules-params
      fixed_kernel: true

  chromeos-tast: &chromeos-tast
    pattern: 'chromeos/chromeos-tast-template.jinja2'
    params: &chromeos-tast-params
      job_timeout: '60'
      prompt_command: 'sof-audio-pci'
      docker_image: 'kernelci/chromeos-tast'

  chromeos-tast-fixed:
    <<: *chromeos-tast
    params:
      <<: *chromeos-tast-params
      fixed_kernel: true

  chromeos-tast-qemu: &chromeos-tast-qemu
    pattern: 'chromeos/chromeos-tast-qemu.jinja2'
    filters:
      - blocklist: &kselftest_defconfig_filter
          defconfig: ['kselftest']
      - passlist:
          lab: ['lab-collabora-staging', 'lab-collabora']
    params: &chromeos-tast-qemu-params
      job_timeout: '60'
      docker_image: 'kernelci/chromeos-tast'
      rootfs_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/20220429.0/chromiumos-amd64-generic/amd64/'

  chromeos-tast-qemu-fixed:
    <<: *chromeos-tast-qemu
    params:
      <<: *chromeos-tast-qemu-params
      fixed_kernel: true

  cros-flash:
    pattern: 'chromeos/cros-flash.jinja2'
    params:
      job_timeout: '60'
      flashing_kernel: http://storage.chromeos.kernelci.org/images/kernel/v5.10.112-x86-chromebook/kernel/bzImage
      flashing_modules: http://storage.chromeos.kernelci.org/images/kernel/v5.10.112-x86-chromebook/modules.tar.xz


device_types:

  qemu_x86_64-uefi-chromeos:
    base_name: qemu
    mach: qemu
    arch: x86_64
    boot_method: qemu
    params:
      bios_url: 'http://storage.kernelci.org/images/uefi/edk2-stable202005/x86_64/OVMF.fd'
      tast_tarball: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/20220429.0/chromiumos-amd64-generic/amd64/tast.tgz'
    context:
      arch: x86_64
      cpu: 'qemu64'
      guestfs_interface: 'virtio'
      extra_options:
        - '-device pcie-root-port,port=0x10,chassis=1,id=pci.1,bus=pcie.0,multifunction=on,addr=0x2'
        - '-device pcie-root-port,port=0x15,chassis=6,id=pci.6,bus=pcie.0,addr=0x2.0x5'
        - '-device qemu-xhci,p2=15,p3=15,id=usb,bus=pci.6,addr=0x0'
        - '-device usb-storage,bus=usb.0,drive=lavatest2'
        - '-m 2048'
        - '-device usb-tablet,id=input0,bus=usb.0,port=2'
        - '-device pcie-root-port,port=0x11,chassis=2,id=pci.2,bus=pcie.0,addr=0x2.0x1'
        - '-device virtio-vga,id=video0,virgl=on,max_outputs=1,bus=pcie.0,addr=0x3'
        - '-device ich9-intel-hda,id=sound0,bus=pcie.0,addr=0x1b'
        - '-machine pc-q35-5.2,accel=kvm,usb=off,vmport=off,dump-guest-core=off'
    filters:
      - passlist: {}


test_configs:

  - device_type: hp-x360-12b-ca0500na-n4000-octopus
    test_plans:
      - chromeos-boot
      - chromeos-boot-fixed
      - chromeos-tast
      - chromeos-tast-fixed

  - device_type: hp-x360-12b-ca0010nr-n4020-octopus
    test_plans:
      - chromeos-boot
      - chromeos-boot-fixed
      - chromeos-tast
      - chromeos-tast-fixed

  - device_type: qemu_x86_64-uefi-chromeos
    test_plans:
      - chromeos-tast-qemu
      - chromeos-tast-qemu-fixed
