test_plans:

  chromiumosvm-tast-fixed-kernel:
    pattern: 'chromeos/cros-tast-qemu.jinja2'
    filters:
      - blocklist: &kselftest_defconfig_filter
          defconfig: ['kselftest']
      - passlist: &qemu_chromiumos_labs_filter
          lab: ['lab-collabora-staging', 'lab-collabora']
    params:
      job_timeout: '60'
      docker_image: 'kernelci/chromeos-tast'
      rootfs_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-amd64-generic/20221102.0/amd64/'
      fixed_kernel: true

  chromiumosvm-tast-upstream-kernel:
    pattern: 'chromeos/cros-tast-qemu.jinja2'
    filters:
      - blocklist: *kselftest_defconfig_filter
      - passlist:
          lab: ['lab-collabora-staging', 'lab-collabora']
    params:
      job_timeout: '60'
      docker_image: 'kernelci/chromeos-tast'
      rootfs_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-amd64-generic/20221102.0/amd64/'

  cros-baseline: &cros-baseline
    pattern: 'chromeos/cros-baseline.jinja2'
    filters: &cros-filters
      - blocklist: { defconfig: ['kselftest'] }
    params:
      docker_image: 'kernelci/cros-baseline'

  cros-baseline-fixed:
    <<: *cros-baseline
    filters: &cros-filters-fixed
      - blocklist: { defconfig: ['kselftest'] }
    params:
      docker_image: 'kernelci/cros-baseline'
      fixed_kernel: true

  cros-baseline_qemu: &cros-baseline_qemu
    base_name: cros-baseline
    pattern: 'chromeos/cros-baseline.jinja2'
    filters: &cros-qemu-filters
      - blocklist: { defconfig: ['kselftest'] }
      - passlist: { lab: ['lab-collabora-staging', 'lab-collabora'] }
    params: &cros-baseline-qemu-params
      base_template: 'chromeos/cros-boot-qemu.jinja2'
      docker_image: 'kernelci/cros-baseline'

  cros-baseline_qemu-fixed:
    <<: *cros-baseline_qemu
    base_name: cros-baseline-fixed
    filters: &cros-qemu-filters-fixed
      - blocklist: { defconfig: ['kselftest'] }
      - passlist: { lab: ['lab-collabora-staging', 'lab-collabora'] }
    params:
      <<: *cros-baseline-qemu-params
      fixed_kernel: true

  cros-boot: &cros-boot
    pattern: 'chromeos/cros-boot.jinja2'
    filters: *cros-filters

  cros-boot-fixed:
    <<: *cros-boot
    filters: *cros-filters-fixed
    params:
      fixed_kernel: true

  cros-boot_qemu: &cros-boot_qemu
    base_name: cros-boot
    pattern: 'chromeos/cros-boot-qemu.jinja2'
    filters: *cros-qemu-filters

  cros-boot_qemu-fixed:
    <<: *cros-boot_qemu
    base_name: cros-boot-fixed
    filters: *cros-qemu-filters-fixed
    params:
      fixed_kernel: true

  cros-flash:
    pattern: 'chromeos/cros-flash.jinja2'
    params:
      job_timeout: '60'

  cros-tast-base: &cros-tast-base
    pattern: 'chromeos/cros-tast.jinja2'
    filters: *cros-filters
    params: &cros-tast-base-params
      job_timeout: '60'
      docker_image: 'kernelci/cros-tast'

  cros-tast-base_qemu: &cros-tast-base-qemu
    <<: *cros-tast-base
    base_name: cros-tast
    filters: *cros-qemu-filters
    params: &cros-tast-base-qemu-params
      <<: *cros-tast-base-params
      base_template: 'chromeos/cros-boot-qemu.jinja2'

  cros-tast-kernel:
    <<: *cros-tast-base
    params:
      <<: *cros-tast-base-params
      tests: &cros-tast-kernel-tests >
        kernel.*

  cros-tast-kernel_qemu:
    <<: *cros-tast-base-qemu
    params: 
      <<: *cros-tast-base-qemu-params
      tests: *cros-tast-kernel-tests

  cros-tast-perf:
    <<: *cros-tast-base
    params:
      <<: *cros-tast-base-params
      tests: &cros-tast-perf-tests >
        ui.IdlePerf
        ui.WindowCyclePerf
        ui.WindowResizePerf
        ui.BubbleLauncherAnimationPerf
        ui.DesksAnimationPerf
        ui.DragMaximizedWindowPerf
        ui.DragTabInClamshellPerf
        ui.DragTabInTabletPerf
        ui.DragTabInTabletPerf.touch
        filemanager.UIPerf
        filemanager.UIPerf.swa
        filemanager.ZipPerf
        filemanager.ZipPerf.swa

  cros-tast-perf_qemu:
    <<: *cros-tast-base-qemu
    params: 
      <<: *cros-tast-base-qemu-params
      tests: *cros-tast-perf-tests

  cros-tast-platform:
    <<: *cros-tast-base
    params:
      <<: *cros-tast-base-params
      tests: &cros-tast-platform-tests >
        platform.CheckDiskSpace
        platform.CheckProcesses
        platform.CheckTracefsInstances
        platform.ChromeMlocked
        platform.CrosDisks
        platform.CrosDisksArchive
        platform.CrosDisksFilesystem
        platform.CrosDisksFormat
        platform.CrosDisksRename
        platform.CrosDisksSSHFS
        platform.CrosID
        platform.Crossystem
        platform.DLCService
        platform.DLCServiceCrosDeploy
        platform.DLCServicePreloading
        platform.DMVerity
        platform.DumpVPDLog
        platform.Firewall
        platform.HeavyMemoryUser
        platform.HeavyMemoryUser.vm
        platform.Histograms
        platform.LocalPerfettoTBMTracedProbes
        platform.Memd
        platform.Mosys
        platform.Mosys.ec
        platform.Mosys.memory
        platform.Mtpd
        platform.TPMResponsive

  cros-tast-platform_qemu:
    <<: *cros-tast-base-qemu
    params:
      <<: *cros-tast-base-qemu-params
      tests: *cros-tast-platform-tests

  cros-tast-video:
    <<: *cros-tast-base
    params:
      <<: *cros-tast-base-params
      tests: &cros-tast-video-tests >
        video.ChromeStackDecoding.*

  cros-tast-video_qemu:
    <<: *cros-tast-base-qemu
    params:
      <<: *cros-tast-base-qemu-params
      tests: *cros-tast-video-tests

device_types:

  asus-C436FA-Flip-hatch_chromeos: &chromebook-generic-type
    base_name: asus-C436FA-Flip-hatch
    mach: x86
    arch: x86_64
    boot_method: depthcharge
    filters: &pineview-filter
      - passlist: {defconfig: ['chromeos-intel-pineview']}
    params: &chromebook-generic-params
      block_device: nvme0n1
      cros_flash_nfs:
        base_url: 'https://storage.chromeos.kernelci.org/images/rootfs/debian/bullseye-cros-flash/20221031.0/amd64/'
        initrd: 'initrd.cpio.gz'
        initrd_compression: 'gz'
        rootfs: 'full.rootfs.tar.xz'
        rootfs_compression: 'xz'
      cros_flash_kernel:
        base_url: 'http://storage.chromeos.kernelci.org/images/kernel/v5.10.112-x86-chromebook/'
        image: 'kernel/bzImage'
        modules: 'modules.tar.xz'
        modules_compression: 'xz'
      cros_image:
        base_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-hatch/20221027.0/amd64/'
        flash_tarball: 'full-cros-flash.tar.gz'
        flash_tarball_compression: 'gz'
        tast_tarball: 'tast.tgz'
      reference_kernel:
        image: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-hatch/20221027.0/amd64/bzImage'
        modules: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-hatch/20221027.0/amd64/modules.tar.xz'

  asus-C523NA-A20057-coral_chromeos:
    base_name: asus-C523NA-A20057-coral
    mach: x86
    arch: x86_64
    boot_method: depthcharge
    filters: *pineview-filter
    params:
      <<: *chromebook-generic-params
      cros_image:
        base_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-coral/20221026.0/amd64/'
        flash_tarball: 'full-cros-flash.tar.gz'
        flash_tarball_compression: 'gz'
        tast_tarball: 'tast.tgz'
      reference_kernel:
        image: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-coral/20221026.0/amd64/bzImage'
        modules: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-coral/20221026.0/amd64/modules.tar.xz'
      block_device: detect

  hp-11A-G6-EE-grunt_chromeos:
    <<: *chromebook-generic-type
    base_name: hp-11A-G6-EE-grunt
    filters: &stoneyridge
      - passlist: {defconfig: ['chromeos-amd-stoneyridge']}
    params:
      <<: *chromebook-generic-params
      cros_image:
        base_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-grunt/20221028.0/amd64/'
        flash_tarball: 'full-cros-flash.tar.gz'
        flash_tarball_compression: 'gz'
        tast_tarball: 'tast.tgz'
      reference_kernel:
        image: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-grunt/20221028.0/amd64/bzImage'
        modules: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-grunt/20221028.0/amd64/modules.tar.xz'
      block_device: detect

  hp-x360-12b-ca0010nr-n4020-octopus_chromeos: &octopus
    base_name: hp-x360-12b-ca0010nr-n4020-octopus
    mach: x86
    arch: x86_64
    boot_method: depthcharge
    filters: *pineview-filter
    params:
      <<: *chromebook-generic-params
      cros_image:
        base_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-octopus/20221025.0/amd64/'
        flash_tarball: 'full-cros-flash.tar.gz'
        flash_tarball_compression: 'gz'
        tast_tarball: 'tast.tgz'
      reference_kernel:
        image: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-octopus/20221025.0/amd64/bzImage'
        modules: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-octopus/20221025.0/amd64/modules.tar.xz'
      block_device: mmcblk0

  hp-x360-12b-ca0500na-n4000-octopus_chromeos:
    <<: *octopus
    base_name: hp-x360-12b-ca0500na-n4000-octopus

  qemu_x86_64-uefi-chromeos:
    base_name: qemu
    mach: qemu
    arch: x86_64
    boot_method: qemu
    params:
      bios_url: 'http://storage.kernelci.org/images/uefi/edk2-stable202005/x86_64/OVMF.fd'
      cros_image:
        base_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-amd64-generic/20220816.0/amd64/'
        image: 'chromiumos_test_image.bin.gz'
        tast_tarball: 'tast.tgz'
      reference_kernel:
        image: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-amd64-generic/20220816.0/amd64/bzImage'
        modules: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-amd64-generic/20220816.0/amd64/modules.tar.xz'
    context:
      arch: x86_64
      cpu: 'qemu64'
      guestfs_interface: 'virtio'
      extra_options:
        - '-device pcie-root-port,port=0x10,chassis=1,id=pci.1,bus=pcie.0,multifunction=on,addr=0x2'
        - '-device pcie-root-port,port=0x15,chassis=6,id=pci.6,bus=pcie.0,addr=0x2.0x5'
        - '-device qemu-xhci,p2=15,p3=15,id=usb,bus=pci.6,addr=0x0'
        - '-device usb-storage,bus=usb.0,drive=lavatest2'
        - '-m 2048'
        - '-device usb-tablet,id=input0,bus=usb.0,port=2'
        - '-device pcie-root-port,port=0x11,chassis=2,id=pci.2,bus=pcie.0,addr=0x2.0x1'
        - '-device virtio-vga,id=video0,virgl=on,max_outputs=1,bus=pcie.0,addr=0x3'
        - '-device ich9-intel-hda,id=sound0,bus=pcie.0,addr=0x1b'
        - '-machine pc-q35-5.2,accel=kvm,usb=off,vmport=off,dump-guest-core=off'
    filters:
      - passlist: {defconfig: ['chromiumos-x86_64']}


test_configs:

  - device_type: hp-11A-G6-EE-grunt_chromeos
    test_plans:
      - cros-baseline
      - cros-baseline-fixed
      - cros-tast-kernel
      - cros-tast-perf
      - cros-tast-platform
      - cros-tast-video

  - device_type: asus-C436FA-Flip-hatch_chromeos
    test_plans:
      - cros-baseline
      - cros-baseline-fixed
      - cros-tast-kernel
      - cros-tast-perf
      - cros-tast-platform
      - cros-tast-video
    
  - device_type: asus-C523NA-A20057-coral_chromeos
    test_plans:
      - cros-baseline
      - cros-baseline-fixed
      - cros-tast-kernel
      - cros-tast-perf
      - cros-tast-platform
      - cros-tast-video

  - device_type: hp-x360-12b-ca0010nr-n4020-octopus_chromeos
    test_plans:
      - cros-baseline
      - cros-baseline-fixed
      - cros-tast-kernel
      - cros-tast-perf
      - cros-tast-platform
      - cros-tast-video

  - device_type: hp-x360-12b-ca0500na-n4000-octopus_chromeos
    test_plans:
      - cros-baseline
      - cros-baseline-fixed
      - cros-tast-kernel
      - cros-tast-perf
      - cros-tast-platform
      - cros-tast-video

  - device_type: qemu_x86_64-uefi-chromeos
    test_plans:
      - cros-baseline_qemu
      - cros-tast-kernel_qemu
      - cros-tast-perf_qemu
      - cros-tast-platform_qemu
      - cros-tast-video_qemu
