test_plans:

  chromiumosvm-tast-fixed-kernel:
    pattern: 'chromeos/cros-tast-qemu.jinja2'
    filters:
      - blocklist: &kselftest_defconfig_filter
          defconfig: ['kselftest']
      - passlist: &qemu_chromiumos_labs_filter
          lab: ['lab-collabora-staging', 'lab-collabora']
    params:
      job_timeout: '60'
      docker_image: 'kernelci/chromeos-tast'
      rootfs_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/20220429.0/chromiumos-amd64-generic/amd64/'
      fixed_kernel: true

  chromiumosvm-tast-upstream-kernel:
    pattern: 'chromeos/cros-tast-qemu.jinja2'
    filters:
      - blocklist: *kselftest_defconfig_filter
      - passlist:
          lab: ['lab-collabora-staging', 'lab-collabora']
    params:
      job_timeout: '60'
      docker_image: 'kernelci/chromeos-tast'
      rootfs_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/20220429.0/chromiumos-amd64-generic/amd64/'

  cros-boot: &cros-boot
    pattern: 'chromeos/cros-boot.jinja2'

  cros-boot-fixed:
    <<: *cros-boot
    filters:
      - blocklist: { defconfig: ['cros'] }
    params:
      fixed_kernel: true

  cros-boot_qemu: &cros-boot_qemu
    base_name: cros-boot
    pattern: 'chromeos/cros-boot-qemu.jinja2'
    filters: &cros-qemu-filters
      - blocklist: { defconfig: ['kselftest'] }
      - passlist: { lab: ['lab-collabora-staging', 'lab-collabora'] }

  cros-boot_qemu-fixed:
    <<: *cros-boot_qemu
    base_name: cros-boot-fixed
    filters: &cros-qemu-filters-fixed
      - blocklist: { defconfig: ['kselftest'] }
      - blocklist: { defconfig: ['cros'] }
      - passlist: { lab: ['lab-collabora-staging', 'lab-collabora'] }
    params:
      fixed_kernel: true

  cros-flash:
    pattern: 'chromeos/cros-flash.jinja2'
    params:
      job_timeout: '60'

  cros-tast: &cros-tast
    pattern: 'chromeos/cros-tast.jinja2'
    params: &cros-tast-params
      job_timeout: '60'
      docker_image: 'kernelci/cros-tast'

  cros-tast-fixed:
    <<: *cros-tast
    params:
      <<: *cros-tast-params
      fixed_kernel: true

  cros-tast_qemu: &cros-tast-qemu
    <<: *cros-tast
    base_name: cros-tast
    filters: *cros-qemu-filters
    params: &cros-tast-qemu-params
      <<: *cros-tast-params
      base_template: 'chromeos/cros-boot-qemu.jinja2'

  cros-tast_qemu-fixed:
    <<: *cros-tast-qemu
    base_name: cros-tast-fixed
    filters: *cros-qemu-filters-fixed
    params:
      <<: *cros-tast-qemu-params
      fixed_kernel: true


device_types:

  hp-x360-12b-ca0010nr-n4020-octopus_chromeos: &octopus
    base_name: hp-x360-12b-ca0010nr-n4020-octopus
    mach: x86
    arch: x86_64
    boot_method: depthcharge
    filters: &x86-chromebook-filters
      - passlist: {defconfig: ['x86-chromebook']}
      - blocklist: {defconfig: ['allmodconfig', 'allnoconfig']}
    params: &octopus-params
      cros_flash_nfs:
        base_url: 'https://storage.staging.kernelci.org/images/rootfs/debian/bullseye-cros-flash/20220523.1/amd64/'
        initrd: 'initrd.cpio.gz'
        initrd_compression: 'gz'
        rootfs: 'full.rootfs.tar.xz'
        rootfs_compression: 'xz'
      cros_flash_kernel:
        base_url: 'http://storage.chromeos.kernelci.org/images/kernel/v5.10.112-x86-chromebook/'
        image: 'kernel/bzImage'
        modules: 'modules.tar.xz'
        modules_compression: 'xz'
      cros_image:
        base_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-octopus/20220520.0/amd64/'
        flash_tarball: 'cros-flash.tar.gz'
        flash_tarball_compression: 'gz'
        tast_tarball: 'tast.tgz'
      reference_kernel:
        image: 'https://storage.chromeos.kernelci.org/images/kernel/chromeos-octopus-4.14.243/vmlinuz-4.14.243'
        modules: 'https://storage.chromeos.kernelci.org/images/kernel/chromeos-octopus-4.14.243/modules-4.14.243.tar.gz'
      block_device: mmcblk0
      device_id: cbg-4

  hp-x360-12b-ca0500na-n4000-octopus_chromeos:
    <<: *octopus
    base_name: hp-x360-12b-ca0500na-n4000-octopus
    params:
      <<: *octopus-params
      device_id: cbg-0

  qemu_x86_64-uefi-chromeos:
    base_name: qemu
    mach: qemu
    arch: x86_64
    boot_method: qemu
    params:
      bios_url: 'http://storage.kernelci.org/images/uefi/edk2-stable202005/x86_64/OVMF.fd'
      cros_image:
        base_url: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-amd64-generic/20220523.0/amd64/'
        image: 'chromiumos_test_image.bin.gz'
        tast_tarball: 'tast.tgz'
      reference_kernel:
        image: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-amd64-generic/20220523.0/amd64/bzImage'
        modules: 'https://storage.chromeos.kernelci.org/images/rootfs/chromeos/chromiumos-amd64-generic/20220523.0/amd64/modules.tar.xz'
    context:
      arch: x86_64
      cpu: 'qemu64'
      guestfs_interface: 'virtio'
      extra_options:
        - '-device pcie-root-port,port=0x10,chassis=1,id=pci.1,bus=pcie.0,multifunction=on,addr=0x2'
        - '-device pcie-root-port,port=0x15,chassis=6,id=pci.6,bus=pcie.0,addr=0x2.0x5'
        - '-device qemu-xhci,p2=15,p3=15,id=usb,bus=pci.6,addr=0x0'
        - '-device usb-storage,bus=usb.0,drive=lavatest2'
        - '-m 2048'
        - '-device usb-tablet,id=input0,bus=usb.0,port=2'
        - '-device pcie-root-port,port=0x11,chassis=2,id=pci.2,bus=pcie.0,addr=0x2.0x1'
        - '-device virtio-vga,id=video0,virgl=on,max_outputs=1,bus=pcie.0,addr=0x3'
        - '-device ich9-intel-hda,id=sound0,bus=pcie.0,addr=0x1b'
        - '-machine pc-q35-5.2,accel=kvm,usb=off,vmport=off,dump-guest-core=off'
    filters:
      - passlist: {}


test_configs:

  - device_type: hp-x360-12b-ca0010nr-n4020-octopus_chromeos
    test_plans:
      - cros-boot
      - cros-boot-fixed
      - cros-tast
      - cros-tast-fixed

  - device_type: hp-x360-12b-ca0500na-n4000-octopus_chromeos
    test_plans:
      - cros-boot
      - cros-boot-fixed
      - cros-tast
      - cros-tast-fixed

  - device_type: qemu_x86_64-uefi-chromeos
    test_plans:
      - cros-boot_qemu
      - cros-boot_qemu-fixed
      - cros-tast_qemu
      - cros-tast_qemu-fixed
