- test:
    timeout:
      minutes: 10
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: simple
          description: "simple test plan"
          os:
          - oe
          scope:
          - functional
        run:
          steps:
          - lava-test-case whoami --shell whoami
          - lava-test-set start filesystem
          - lava-test-case df --shell df -h
          - lava-test-case mount --shell mount
          - lava-test-case ls --shell ls /
          - lava-test-set stop
          - lava-test-set start networking
          - lava-test-case udhcpc --shell udhcpc
          - lava-test-case ip --shell ip addr
          - lava-test-case ping --shell ping -c4 8.8.8.8
          - lava-test-set stop
      from: inline
      name: simple
      path: inline/simple.yaml
