- test:
    timeout:
      minutes: 5
    failure_retry: 5
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: {{ plan }}
          description: "cros-ec test plan"
          os:
          - oe
          scope:
          - functional
        run:
          steps:
            - python3 -m cros.runners.lava_runner
      lava-signal: kmsg
      from: inline
      name: {{ plan }}
      path: inline/{{ plan }}.yaml
