{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2022 Collabora Limited
 # Author: Guillaume Tucker <guillaume.tucker@collabora.com>
-#}

FROM godebos/debos
MAINTAINER "KernelCI TSC" <kernelci-tsc@groups.io>

ENV DEBIAN_FRONTEND=noninteractive

# Docker for jenkins really needs procps otherwise the jenkins side fails
RUN apt-get update && apt-get install --no-install-recommends -y procps

# SSL / HTTPS support
RUN apt-get update && apt-get install --no-install-recommends -y \
    apt-transport-https \
    ca-certificates

# Dependencies to run debos
RUN apt-get update && apt-get install --no-install-recommends -y \
    binfmt-support \
    busybox \
    debian-ports-archive-keyring \
    debootstrap \
    dosfstools \
    e2fsprogs \
    linux-image-amd64 \
    parted \
    pkg-config \
    qemu-system-x86 \
    qemu-user-static \
    systemd-container \
    python3-requests \
    python3-yaml \
    xz-utils

# Jenkins hacks
RUN useradd -u 996 -ms /bin/sh jenkins

{%- block fragments %}
{%- for fragment in fragments %}
{% with is_debian = true, sub_arch = sub_arch %}
{% include fragment %}
{%- endwith %}
{%- endfor %}
{%- endblock %}
