{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2021, 2022 Collabora Limited
 # Author: Guillaume Tucker <guillaume.tucker@collabora.com>
-#}

{%- if is_api %}
   FROM python:3.10
{% else %}
   FROM python:3.11
{%- endif %}

MAINTAINER "KernelCI TSC" <kernelci-tsc@groups.io>

# Upgrade pip3 - never mind the warning about running this as root
RUN pip3 install --upgrade pip

{%- block fragments %}
{%- for fragment in fragments %}

{% include fragment %}
{%- endfor %}
{%- endblock %}
