{# SPDX-License-Identifier: LGPL-2.1-or-later
 #
 # Copyright (C) 2021, 2022 Collabora Limited
 # Author: Guillaume Tucker <guillaume.tucker@collabora.com>
-#}

FROM mirror.gcr.io/python:3.12

MAINTAINER "KernelCI TSC" <kernelci-tsc@groups.io>

{%- block fragments %}
{%- for fragment in fragments %}

{% include fragment %}
{%- endfor %}
{%- endblock %}
