{%- if testsuite -%}
    {% set testsuite_arg = "-ts " + testsuite %}
{%- endif -%}
{%- if decoders -%}
    {%- set decoders_arg = "-d " + decoders|join(" ") -%}
{%- endif -%}
{%- if videodec_timeout -%}
    {% set videodec_timeout_arg = "-t " + videodec_timeout|string %}
{%- endif -%}
{%- if videodec_parallel_jobs -%}
    {% set videodec_parallel_jobs_arg = "-j " + videodec_parallel_jobs|string %}
{%- endif -%}
- test:
    timeout:
      minutes: {{ job_timeout }}
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: {{ node.name }}
          description: "V4L2 decoder conformance test plan"
          os:
          - debian
          scope:
          - functional
        run:
          steps:
          - python3 /usr/bin/fluster_parser.py --run {{ testsuite_arg }} {{ decoders_arg }} {{ videodec_timeout_arg }} {{ videodec_parallel_jobs_arg }}
          - python3 /usr/bin/fluster_parser.py --results
      from: inline
      name: {{ node.name }}
      path: inline/{{ node.name }}.yaml
