- test:
    timeout:
      minutes: {{ job_timeout }}
    definitions:
    - from: inline
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: timesync-off
          description: Disable systemd time sync services
        run:
          steps:
          - systemctl stop systemd-timesyncd || true
      name: timesync-off
      path: inline/timesync-off.yaml
{% if "coverage" in node.data.config_full %}
{% include "util/gcov-reset.jinja2" %}
{% endif %}
    - repository: https://github.com/linaro/test-definitions.git
      from: git
      revision: master
      path: automated/linux/kselftest/kselftest.yaml
      name: '{{ node.name }}'
      parameters:
        TESTPROG_URL: '{{ node.artifacts.kselftest_tar_gz }}'
        SKIPFILE: {{ skipfile if skipfile else '/dev/null' }}
        TST_CMDFILES: '{{ collections }}'
        TST_CASENAME: '{{ tests }}'
        SKIP_INSTALL: True
        ENV: '{{ env }}'
{% if "coverage" in node.data.config_full %}
{% include "util/gcov-upload.jinja2" %}
{% endif %}
