{# Set default extra_kirk_args to a random value between 1 and 100
   for ltp-fault-injection jobs if it is not defined. #}
{%- if "fault-injection" in node.data.config_full and extra_kirk_args is not defined %}
{%-   set extra_kirk_args = '-F ' ~ (range(1, 101)|random) %}
{%- endif %}
- test:
    name: {{ node.name }}
    timeout:
      minutes: {{ test_timeout|default(15) }}
    definitions:
{% if "coverage" in node.data.config_full %}
{% include "util/gcov-reset.jinja2" %}
{% endif %}
    - repository: https://github.com/linaro/test-definitions.git
      from: git
      revision: master
      path: automated/linux/ltp/ltp.yaml
      name: {{ node.name }}
      parameters:
        TST_CMDFILES: "{{ tst_cmdfiles|default('') }}"
        SHARD_NUMBER: {{ shard_number|default(1) }}
        SHARD_INDEX: {{ shard_index|default(1) }}
        SKIP_INSTALL: "{{ skip_install }}"
        SKIPFILE: {{ skipfile }}
        RUNNER: /opt/kirk/kirk
        KIRK_WORKERS: {{ workers|default('1') }}
        EXTRA_KIRK_ARGS: "{{ extra_kirk_args|default('') }}"
{% if "coverage" in node.data.config_full %}
{% include "util/gcov-upload.jinja2" %}
{% endif %}
