- test:
    name: {{ plan }}
    timeout:
      minutes: {{ job_timeout }}
    definitions:
       - repository: https://github.com/kernelci/test-definitions
         from: git
         revision: chromeos.kernelci.org
         path: automated/linux/ltp/ltp.yaml
         name: {{ plan }}
         parameters:
            TST_CMDFILES: "{{ tst_cmdfiles }}"
            SKIP_INSTALL: "{{ skip_install }}"
            SKIPFILE: {{ skipfile }}
