# -----------------------------------------------------------------------------
# Azure CLI
# https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt
#

RUN curl -sL https://packages.microsoft.com/keys/microsoft.asc | \
    gpg --dearmor |  tee /etc/apt/trusted.gpg.d/microsoft.asc.gpg > /dev/null

RUN AZ_REPO=bullseye && \
    echo "\
deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ \
$AZ_REPO main" | \
    tee /etc/apt/sources.list.d/azure-cli.list

RUN apt-get update && apt-get install -y azure-cli
