# -----------------------------------------------------------------------------
# Helm
# https://helm.sh/
#

RUN curl -s \
    https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 \
    | /bin/bash
