{%- if is_debian -%}
# Install pip3 and git on Debian
RUN apt-get update && apt-get install --no-install-recommends -y \
    git \
    python3-pip
{%- endif %}

ENV PIP_BREAK_SYSTEM_PACKAGES=1
# Install kernelci Python package from kernelci-core
USER root
ARG core_url=https://github.com/kernelci/kernelci-core.git
ARG core_rev=main
RUN git clone --depth=1 $core_url /tmp/kernelci-core
WORKDIR /tmp/kernelci-core
RUN git fetch origin $core_rev && git checkout FETCH_HEAD
RUN python3 -m pip install .[dev] --break-system-packages --ignore-installed
RUN cp -R config /etc/kernelci/
WORKDIR /root
RUN rm -rf /tmp/kernelci-core

# Install tuxmake kernel build tool
RUN pip3 install --break-system-packages --no-cache-dir tuxmake==1.35.0

# Set up kernelci user
RUN useradd kernelci -u 1000 -d /home/kernelci -s /bin/bash
RUN mkdir -p /home/kernelci
RUN chown kernelci: /home/kernelci
USER kernelci
ENV PATH=$PATH:/home/kernelci/.local/bin
WORKDIR /home/kernelci
