USER root
{% include 'fragment/gcloud.jinja2' %}

# KCIDB python for kcidb bridge service
#RUN python3 -m pip install git+https://github.com/kernelci/kcidb.git --break-system-packages
# TEST ONLY
RUN python3 -m pip install git+https://github.com/nuclearcat/kcidb.git@add-rest-support --break-system-packages

# Install logspec
RUN pip install git+https://github.com/kernelci/logspec.git

USER kernelci
ARG pipeline_url=https://github.com/kernelci/kernelci-pipeline.git
ARG pipeline_rev=main
RUN git clone --depth=1 $pipeline_url pipeline
WORKDIR pipeline
RUN git fetch origin $pipeline_rev
RUN git checkout FETCH_HEAD
ENV KCI_VER_PIPELINE=$pipeline_rev
