USER root
{% include 'fragment/gcloud.jinja2' %}
USER kernelci
ARG pipeline_url=https://github.com/kernelci/kernelci-pipeline.git
ARG pipeline_rev=main
RUN git clone --depth=1 $pipeline_url pipeline
WORKDIR pipeline
RUN git fetch origin $pipeline_rev
RUN git checkout FETCH_HEAD
