{# TODO: Add NFS boot support for fastboot devices.
   Fastboot bakes the kernel cmdline into boot.img via mkbootimg, so there is
   no way to dynamically inject nfsroot=<ip>:<path> at boot time the way
   u-boot/grub/depthcharge do.  Possible approaches:
   - LAVA dispatcher DHCP providing root-path (option 17)
   - A custom initrd that discovers the NFS export automatically
   - LAVA postprocessing gaining access to the NFS path before mkbootimg
   Until one of these is confirmed to work, fastboot platforms must be
   excluded from NFS jobs in the scheduler configuration.  #}
- deploy:
    images:
      image:
        url: '{{ node.artifacts.kernel }}'
      dtb:
        url: '{{ node.artifacts.dtb }}'
      ramdisk:
        {% if boot_commands == "ramdisk" %}
        url: '{{ ramdiskroot }}/rootfs.cpio.gz'
        {% else %}
        url: '{{ ramdisk }}'
        {% endif %}
        compression: gz
        format: cpio.newc
        overlays:
          lava: true
          modules:
            url: '{{ node.artifacts.modules }}'
            compression: xz
            format: tar
            path: /
          {% if boot_commands == "ramdisk" %}
          kselftest:
            compression: xz
            format: tar
            path: /opt/kselftests/mainline/
            url: {{ node.artifacts.kselftest_tar_xz }}
          {% endif %}
{% set dtb = device_dtb.split('/')[-1] %}
{% if boot_commands == "ramdisk" %}
  {% set ramdisk_name = "rootfs.cpio.gz" %}
{% else %}
  {% set ramdisk_name = "rootfs.cpio.gz" %}
{% endif %}
{% set append_dtb = fastboot_boot_image_format|default('android-header-dtb') == 'appended-dtb' %}
{% set kernel_image = 'Image.gz' if node.data.kernel_type.endswith('.gz') else 'Image' %}
{% set boot_kernel_image = kernel_image + '+dtb' if append_dtb else 'Image' %}
    postprocess:
      docker:
        image: ghcr.io/mwasilew/docker-mkbootimage:master
        steps:
{%- if append_dtb %}
        - cat {{ kernel_image }} {{ dtb }} > {{ boot_kernel_image }}
{%- elif node.data.kernel_type.endswith('.gz') %}
        - gunzip Image.gz
{%- endif %}
{%- if append_dtb %}
        - mkbootimg --kernel {{ boot_kernel_image }} --cmdline "console=ttyMSM0,115200n8 earlycon qcom_geni_serial.con_enabled=1 mem_sleep_default=s2idle mitigations=auto video=efifb:off" --ramdisk {{ ramdisk_name }} --pagesize {{ fastboot_mkbootimg_pagesize|default(4096) }} --base {{ fastboot_mkbootimg_base|default('0x80000000') }} --output boot.img
{%- else %}
        - mkbootimg --header_version 2 --kernel Image --dtb {{ dtb }} --cmdline "console=ttyMSM0,115200n8 earlycon qcom_geni_serial.con_enabled=1 mem_sleep_default=s2idle mitigations=auto video=efifb:off" --ramdisk {{ ramdisk_name }} --output boot.img
{%- endif %}
    to: downloads

- deploy:
    images:
      boot:
        url: 'downloads://boot.img'
    timeout:
      minutes: 2
    to: download

- boot:
    prompts:
    - '/ #'
    failure_retry: 3
    timeout:
      minutes: 10
    timeouts:
      bootloader-commands:
        minutes: 3
      auto-login-action:
        minutes: 2
    method: fastboot
