- deploy:
    kernel:
      url: '{{ node.artifacts.kernel }}'
      image_arg: -kernel {kernel} -serial stdio --append "console=ttyS0"
      type: {{ node.data.kernel_type }}
    ramdisk:
      url: 'http://storage.kernelci.org/images/rootfs/buildroot/buildroot-baseline/20230623.0/{{ platform_config.arch }}/rootfs.cpio.gz'
      image_arg: -initrd {ramdisk}
      compression: gz
{%- if device_dtb %}
    dtb:
      url: '{{ node.artifacts.dtb }}'
      image_arg: -dtb {dtb}
{%- endif %}
    os: oe
    root_partition: 1
    to: tftp

- boot:
    method: grub
    commands: ramdisk
    prompts:
    - '/ #'
