{%- set console_dev = 'ttyAMA0' if platform_config.context.arch in ['arm', 'arm64'] else 'ttyS0' -%}
- deploy:
    images:
      kernel:
        image_arg: -kernel {kernel} -append "console={{ console_dev }},115200 root=/dev/ram0 debug
          verbose console_msg_format=syslog earlycon"
        url: '{{ node.artifacts.kernel }}'
      ramdisk:
        image_arg: -initrd {ramdisk}
        url: 'http://storage.kernelci.org/images/rootfs/buildroot/buildroot-baseline/20230421.0/{{ brarch }}/rootfs.cpio.gz'
{%- if device_dtb %}
      dtb:
        url: '{{ node.artifacts.dtb }}'
        image_arg: -dtb {dtb}
{%- endif %}
    os: oe
    timeout:
      minutes: 3
    to: tmpfs

- boot:
    docker:
      binary: qemu-system-{{ platform_config.arch }}
      image: kernelci/qemu
    media: tmpfs
    method: qemu
    failure_retry: 3
    prompts:
      - '/ #'
    timeout:
      minutes: 20
    timeouts:
      bootloader-commands:
        minutes: 3
      auto-login-action:
        minutes: 6
      login-action:
        minutes: 2
