- deploy:
    images:
      kernel:
        image_arg: -kernel {kernel} -append "console=ttyS0,115200 root=/dev/ram0 debug
          verbose console_msg_format=syslog earlycon"
        url: {{ node.artifacts.bzImage }}
      ramdisk:
        image_arg: -initrd {ramdisk}
        url: http://storage.kernelci.org/images/rootfs/buildroot/buildroot-baseline/20230421.0/x86/rootfs.cpio.gz
    os: oe
    timeout:
      minutes: 3
    to: tmpfs

- boot:
    docker:
      binary: qemu-system-x86_64
      image: kernelci/qemu
    media: tmpfs
    method: qemu
    prompts:
      - '/ #'
    timeout:
      minutes: 5
