name: 'Reusable workflow compiler and misc docker images build'

on:
  workflow_call:
    inputs:
      GIT_OWNER:
        type: string
        description: 'Repo (owner), for ex: kernelci/kernelci-core owner is kernelci'
        required: true
        default: 'kernelci'
      GIT_BRANCH:
        type: string
        description: 'Branch'
        required: true
        default: 'main'
      SKIP_COMPILER_IMAGES:
        type: boolean
        description: 'Skip building compiler images'
        required: false
        default: false

env:
  USER_GIT_OWNER: ${{ inputs.GIT_OWNER }}
  USER_GIT_BRANCH: ${{ inputs.GIT_BRANCH }}

jobs:
  docker-compiler-build:
    strategy:
      fail-fast: false
      matrix:
        kciarch: [ 'arc', 'arm', 'armv5', 'arm64', 'x86', 'mips', 'riscv64' ]
        kcicmd: [ 'clang-21 kselftest kernelci',
                  'gcc-14 kselftest kernelci'
                   ]
        exclude:
          - kciarch: 'arc'
            kcicmd: 'clang-21 kselftest kernelci'
    # only selected people can trigger this job
    if: contains('["nuclearcat","JenySadadia","a-wai","broonie","laura-nao"]', github.actor) && !inputs.SKIP_COMPILER_IMAGES
    runs-on: ubuntu-22.04
    environment: deploydocker
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ env.USER_GIT_OWNER }}/kernelci-core
          ref: ${{ env.USER_GIT_BRANCH }}
          submodules: recursive
          fetch-depth: 0
          path: kernelci-core
      - name: Setup Python with pip cache
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: kernelci-core/pyproject.toml
      - name: Prepare necessary tools
        run: |
          cd kernelci-core
          python3 -m pip install '.[dev]' --break-system-packages
          sudo cp -R config /etc/kernelci/
      - name: Cache apt packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: python3-pip git docker.io python3-docker
          version: 1.0
      - name: Make sure docker is running
        run: |
          sudo systemctl start docker
          sudo systemctl status docker
      - name: Dockerhub login by token
        run: |
          echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build base kernelci docker image for main branch
        if: ${{ env.USER_GIT_BRANCH == 'main' }}
        run: |
          cd kernelci-core
          export core_rev=$(git rev-parse HEAD)
          export core_url=$(git remote get-url origin)
          kci_arg="--build-arg core_rev=$core_rev --prefix=ghcr.io/kernelci/ --build-arg core_url=$core_url"
          ./kci docker build --verbose --push $kci_arg ${{ matrix.kcicmd }} --arch ${{ matrix.kciarch }}
          NAME=$(./kci docker name --prefix=ghcr.io/kernelci/ ${{ matrix.kcicmd }} --arch ${{ matrix.kciarch }})
          DHNAME=$(./kci docker name --prefix=kernelci/ ${{ matrix.kcicmd }} --arch ${{ matrix.kciarch }})
          docker tag $NAME $DHNAME
          docker push $DHNAME
      - name: build base kernelci docker image for other branches
        if: ${{ env.USER_GIT_BRANCH != 'main' }}
        run: |
          cd kernelci-core
          export core_rev=$(git rev-parse HEAD)
          export core_url=$(git remote get-url origin)
          echo "core_rev=$core_rev core_url=$core_url"
          kci_arg="--build-arg core_rev=$core_rev --prefix=ghcr.io/kernelci/staging- --build-arg core_url=$core_url"
          ./kci docker build --verbose --push $kci_arg ${{ matrix.kcicmd }} --arch ${{ matrix.kciarch }}
          NAME=$(./kci docker name --prefix=ghcr.io/kernelci/staging- ${{ matrix.kcicmd }} --arch ${{ matrix.kciarch }})
          DHNAME=$(./kci docker name --prefix=kernelci/staging- ${{ matrix.kcicmd }} --arch ${{ matrix.kciarch }})
          docker tag $NAME $DHNAME
          docker push $DHNAME

  docker-misc-build:
    strategy:
      fail-fast: false
      matrix:
        kcicmd: [ 'gcc-14 kunit kernelci --arch x86',
                  'rustc-1.74 kselftest kernelci --arch x86',
                  'rustc-1.75 kselftest kernelci --arch x86',
                  'kernelci',
                  'kernelci api',
                  'kernelci pipeline',
                  'kernelci pipeline-cron',
                  'kernelci lava-callback',
                  'k8s kernelci',
                  'qemu',
                  'buildroot kernelci',
                  'debos kernelci',
                   ]
        exclude:
          - kcicmd: 'rustc-1.74 kselftest kernelci --arch x86'
          - kcicmd: 'rustc-1.75 kselftest kernelci --arch x86'
    # only selected people can trigger this job
    if: contains('["nuclearcat","JenySadadia","a-wai","broonie","laura-nao"]', github.actor)
    runs-on: ubuntu-22.04
    environment: deploydocker
    steps:
      - name: Checkout kernelci-core
        uses: actions/checkout@v4
        with:
          repository: ${{ env.USER_GIT_OWNER }}/kernelci-core
          ref: ${{ env.USER_GIT_BRANCH }}
          fetch-depth: 0
          path: kernelci-core
      - name: Checkout kernelci-pipeline
        uses: actions/checkout@v4
        with:
          repository: ${{ env.USER_GIT_OWNER }}/kernelci-pipeline
          ref: ${{ env.USER_GIT_BRANCH }}
          fetch-depth: 0
          path: kernelci-pipeline
      - name: Checkout kernelci-api
        uses: actions/checkout@v4
        with:
          repository: ${{ env.USER_GIT_OWNER }}/kernelci-api
          ref: ${{ env.USER_GIT_BRANCH }}
          fetch-depth: 0
          path: kernelci-api
      - name: Setup Python with pip cache
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: kernelci-core/pyproject.toml
      - name: Prepare necessary tools
        run: |
          cd kernelci-core
          python3 -m pip install '.[dev]' --break-system-packages
          sudo cp -R config /etc/kernelci/
      - name: Cache apt packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: python3-pip git docker.io python3-docker
          version: 1.0
      - name: Make sure docker is running
        run: |
          sudo systemctl start docker
          sudo systemctl status docker
      - name: Dockerhub login by token
        run: |
          echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: kernelci
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build base kernelci docker image for main branch
        if: ${{ env.USER_GIT_BRANCH == 'main' }}
        run: |
          cd kernelci-core
          core_rev=$(git show --pretty=format:%H -s origin/${{ env.USER_GIT_BRANCH }})
          cd ../kernelci-api
          api_rev=$(git show --pretty=format:%H -s origin/${{ env.USER_GIT_BRANCH }})
          cd ../kernelci-pipeline
          pipeline_rev=$(git show --pretty=format:%H -s origin/${{ env.USER_GIT_BRANCH }})
          cd ../kernelci-core
          rev_arg="--build-arg core_rev=$core_rev --build-arg api_rev=$api_rev --build-arg pipeline_rev=$pipeline_rev"
          kci_arg="$rev_arg --prefix=ghcr.io/kernelci/"
          ./kci docker build --verbose --push $kci_arg ${{ matrix.kcicmd }}
          NAME=$(./kci docker name --prefix=ghcr.io/kernelci/ ${{ matrix.kcicmd }})
          DHNAME=$(./kci docker name --prefix=kernelci/ ${{ matrix.kcicmd }})
          docker tag $NAME $DHNAME
          docker push $DHNAME
      - name: build base kernelci docker image for other branches
        if: ${{ env.USER_GIT_BRANCH != 'main' }}
        run: |
          cd kernelci-core
          core_rev=$(git show --pretty=format:%H -s origin/${{ env.USER_GIT_BRANCH }})
          cd ../kernelci-api
          api_rev=$(git show --pretty=format:%H -s origin/${{ env.USER_GIT_BRANCH }})
          cd ../kernelci-pipeline
          pipeline_rev=$(git show --pretty=format:%H -s origin/${{ env.USER_GIT_BRANCH }})
          cd ../kernelci-core
          rev_arg="--build-arg core_rev=$core_rev --build-arg api_rev=$api_rev --build-arg pipeline_rev=$pipeline_rev"
          kci_arg="$rev_arg --prefix=ghcr.io/kernelci/staging-"
          ./kci docker build --verbose --push $kci_arg ${{ matrix.kcicmd }}
          NAME=$(./kci docker name --prefix=ghcr.io/kernelci/staging- ${{ matrix.kcicmd }})
          DHNAME=$(./kci docker name --prefix=kernelci/staging- ${{ matrix.kcicmd }})
          docker tag $NAME $DHNAME
          docker push $DHNAME
