# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the
  # main branch
  push:
    branches: [ main, chromeos ]
  pull_request:
    branches: [ main, chromeos ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.7', '3.10']

    steps:

      - name: Check out source code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python packages
        run: |
          python --version
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run unit tests
        run: |
          make test

      - name: Run pycodestyle
        run: |
          make pycodestyle

      - name: Run pylint
        run: |
          make pylint

      - name: Run YAML config validation
        run: |
          make validate-yaml

  lint:
    runs-on: ubuntu-22.04
    name: Lint
    steps:
      - name: Check out source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 32  # This is necessary to get the commits

      - name: Set up Python environment
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Get changed python files between base and head
        run: >
          echo CHANGED_FILES=$(echo $(git diff --name-only ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }} -- | grep '\.py\|kci$')) >> $GITHUB_ENV

      - if: env.CHANGED_FILES
        uses: marian-code/python-lint-annotate@v3
        name: Run linter annotations
        with:
          python-root-list: ${{ env.CHANGED_FILES }}
          use-black: false
          use-flake8: false
          use-isort: false
          use-mypy: false
          use-pydocstyle: false
          use-vulture: false
