# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the
  # main branch
  push:
    branches: [ main, chromeos ]
  pull_request:
    branches: [ main, chromeos ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ['3.7', '3.10']

    steps:

      - name: Check out source code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python packages
        run: |
          python --version
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run unit tests
        run: |
          make test

      - name: Run pycodestyle
        run: |
          pycodestyle kernelci
          pycodestyle kci
          pycodestyle kci_*
          pycodestyle scripts/*

      - name: Run pylint
        run: |
          pylint kci
          pylint kernelci.cli
          pylint kernelci.storage

      - name: Run YAML config validation
        run: |
          ./kci validate yaml
          ./kci_build validate
          ./kci_test validate
          ./kci_data validate
          ./kci_rootfs validate
